In [6]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [7]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [8]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=27, max_leaf_nodes=336, min_samples_leaf=3,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=6,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ['[\'R_Welterweight_rank\', \'R_Middleweight_rank\', \'B_Light Heavyweight_rank\', \'R_draw\', \'R_win_by_Decision_Majority\', \'sig_str_dif\', \'B_Featherweight_rank\', \'R_Lightweight_rank\', \'B_odds\', \'R_avg_TD_landed\', \'B_ev\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\']',
  '[\'longest_win_streak_dif\', \'avg_td_dif\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'R_Stance\', \'R_avg_SUB_ATT\', \'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '["B_Women\'s Bantamweight_rank", "R_Women\'s Flyweight_rank", \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\']',
  "['R_Height_cms', 'reach_dif', 'age_dif', 'lose_streak_dif', 'B_draw', 'B_odds', 'B_avg_TD_pct', 'R_Reach_cms', 'B_win_by_Decision_Unanimous', 'R_win_by_Submission', 'height_dif', 'R_avg_TD_pct', 'R_avg_SIG_STR_pct', 'win_streak_dif', 'B_avg_TD_landed', 'B_current_lose_streak', 'B_age', 'R_win_by_Decision_Split', 'avg_td_dif', 'R_Middleweight_rank', 'better_rank', 'B_Flyweight_rank', 'B_win_by_KO/TKO', 'B_win_by_Decision_Split', 'R_win_by_Decision_Majority', 'R_Lightweight_rank', 'R_Flyweight_rank', 'R_win_by_TKO_Doctor_Stoppage', 'B_Stance', 'R_avg_TD_landed', 'B_avg_SIG_STR_landed', 'empty_arena']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '0', '4', '35', '1', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 ['-177.3976305032445',
  '-517.5586724157288',
  '51.485661931175315',
  '-273.34880970516065',
  '1182.7971751988935',
  '-708.2060686',
  '509.4118744',
  '1122.644041',
  '-12.87052008',
  '642.8135906',
  '203.2974615',
  '179.6331948',
  '601.1884794',
  '1255.868899',
  '214.6801635']]

In [11]:
df = pd.read_csv("../data/ufc-master.csv")

In [12]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4521
4521
4521

C:\Users\Matt-Predator\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Matt-Predator\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [13]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

200
4521

In [15]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\Matt-Predator\Anaconda3\lib\site-packages\pandas\core\frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [19]:
len(models[0])

15

In [21]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(3480, 25)

(3480,)

(3480, 2)

(200, 25)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.666030  0.333970       0
1       -137      117  0.590731  0.409269       1
2       -178      157  0.602828  0.397172       1
3       -178      157  0.596875  0.403125       1
4        125     -145  0.507389  0.492611       0
..       ...      ...       ...       ...     ...
195     -230      180  0.679125  0.320875       1
196      180     -230  0.400940  0.599060       1
197     -103     -117  0.614133  0.385867       0
198     -140      120  0.609161  0.390839       0
199      105     -125  0.585690  0.414310       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 164
          Number of winning bets: 75
          Number of losing bets: 89
          Number of underdog bets: 117
          Number of underdog wins: 49
          Number of underdog losses: 68
          Number of Favorite bets: 45
          Number of favorite wins: 26
          Number of favorite losses: 19
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -196.21005751678678
          Profit per bet: -1.1964027897365048
          Profit per match: -0.9810502875839339

(3480, 21)

(3480,)

(3480, 2)

(200, 21)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.812500  0.187500       0
1       -137      117  0.857143  0.142857       1
2       -178      157  0.692308  0.307692       1
3       -178      157  0.692308  0.307692       1
4        125     -145  0.500000  0.500000       0
..       ...      ...       ...       ...     ...
195     -230      180  0.600000  0.400000       1
196      180     -230  0.500000  0.500000       1
197     -103     -117  0.000000  1.000000       0
198     -140      120  0.833333  0.166667       0
199      105     -125  1.000000  0.000000       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 191
          Number of winning bets: 107
          Number of losing bets: 84
          Number of underdog bets: 83
          Number of underdog wins: 37
          Number of underdog losses: 46
          Number of Favorite bets: 105
          Number of favorite wins: 68
          Number of favorite losses: 37
          Number of even bets: 3
          Number of even wins: 2
          Number of even losses: 1
          Profit: 402.5012308757292
          Profit per bet: 2.107336287307483
          Profit per match: 2.012506154378646

(3480, 31)

(3480,)

(3480, 2)

(198, 31)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.613812  0.386188       0
1       -137      117  0.439025  0.560975       1
2       -178      157  0.615613  0.384387       1
3       -178      157  0.578145  0.421855       1
4        125     -145  0.473624  0.526376       0
..       ...      ...       ...       ...     ...
193     -230      180  0.649481  0.350519       1
194      180     -230  0.408538  0.591462       1
195     -103     -117  0.654888  0.345112       0
196     -140      120  0.536539  0.463461       0
197      105     -125  0.542940  0.457060       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 133
          Number of winning bets: 52
          Number of losing bets: 81
          Number of underdog bets: 106
          Number of underdog wins: 40
          Number of underdog losses: 66
          Number of Favorite bets: 27
          Number of favorite wins: 12
          Number of favorite losses: 15
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: -1212.5587785925702
          Profit per bet: -9.116983297688497
          Profit per match: -6.124034235316011

(3480, 19)

(3480,)

(3480, 2)

(200, 19)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.983870  0.016130       0
1       -137      117  0.979528  0.020472       1
2       -178      157  0.288337  0.711663       1
3       -178      157  0.854585  0.145415       1
4        125     -145  0.820150  0.179850       0
..       ...      ...       ...       ...     ...
195     -230      180  0.933261  0.066739       1
196      180     -230  0.466177  0.533823       1
197     -103     -117  0.908782  0.091218       0
198     -140      120  0.928556  0.071444       0
199      105     -125  0.906051  0.093949       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 123
          Number of winning bets: 53
          Number of losing bets: 70
          Number of underdog bets: 89
          Number of underdog wins: 35
          Number of underdog losses: 54
          Number of Favorite bets: 32
          Number of favorite wins: 18
          Number of favorite losses: 14
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -449.30925740542546
          Profit per bet: -3.652920791914028
          Profit per match: -2.2465462870271273

(3480, 37)

(3480,)

(3480, 2)

(198, 37)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.974076  0.025924       0
1       -137      117  0.976458  0.023542       1
2       -178      157  0.863522  0.136478       1
3       -178      157  0.755315  0.244685       1
4        125     -145  0.316230  0.683770       0
..       ...      ...       ...       ...     ...
193     -230      180  0.893526  0.106474       1
194      180     -230  0.553672  0.446328       1
195     -103     -117  0.754366  0.245634       0
196     -140      120  0.496672  0.503328       0
197      105     -125  0.813694  0.186306       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 192
          Number of winning bets: 104
          Number of losing bets: 88
          Number of underdog bets: 77
          Number of underdog wins: 35
          Number of underdog losses: 42
          Number of Favorite bets: 112
          Number of favorite wins: 69
          Number of favorite losses: 43
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -359.95819873511977
          Profit per bet: -1.8747822850787488
          Profit per match: -1.817970700682423

(4521, 10)

(4521,)

(4521, 2)

(200, 10)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.551310  0.448690       0
1       -137      117  0.590322  0.409678       1
2       -178      157  0.626362  0.373638       1
3       -178      157  0.621958  0.378042       1
4        125     -145  0.479536  0.520464       0
..       ...      ...       ...       ...     ...
195     -230      180  0.653596  0.346404       1
196      180     -230  0.386368  0.613632       1
197     -103     -117  0.500630  0.499370       0
198     -140      120  0.568305  0.431695       0
199      105     -125  0.520765  0.479235       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 86
          Number of winning bets: 44
          Number of losing bets: 42
          Number of underdog bets: 76
          Number of underdog wins: 36
          Number of underdog losses: 40
          Number of Favorite bets: 10
          Number of favorite wins: 8
          Number of favorite losses: 2
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1205.6523569028263
          Profit per bet: 14.019213452358446
          Profit per match: 6.0282617845141315

(3689, 14)

(3689,)

(3689, 2)

(200, 14)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.750466  0.249534       0
1       -137      117  0.612561  0.387439       1
2       -178      157  0.726267  0.273733       1
3       -178      157  0.691534  0.308466       1
4        125     -145  0.449343  0.550657       0
..       ...      ...       ...       ...     ...
195     -230      180  0.809284  0.190716       1
196      180     -230  0.474008  0.525992       1
197     -103     -117  0.736586  0.263414       0
198     -140      120  0.764744  0.235256       0
199      105     -125  0.606243  0.393757       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 188
          Number of winning bets: 101
          Number of losing bets: 87
          Number of underdog bets: 87
          Number of underdog wins: 39
          Number of underdog losses: 48
          Number of Favorite bets: 98
          Number of favorite wins: 62
          Number of favorite losses: 36
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: 385.06251390004115
          Profit per bet: 2.0482048611704315
          Profit per match: 1.9253125695002058

(3689, 18)

(3689,)

(3689, 2)

(200, 18)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.859557  0.140443       0
1       -137      117  0.555741  0.444259       1
2       -178      157  0.689291  0.310709       1
3       -178      157  0.567995  0.432005       1
4        125     -145  0.360016  0.639984       0
..       ...      ...       ...       ...     ...
195     -230      180  0.773221  0.226779       1
196      180     -230  0.371897  0.628103       1
197     -103     -117  0.699165  0.300835       0
198     -140      120  0.997601  0.002399       0
199      105     -125  0.506390  0.493610       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 183
          Number of winning bets: 98
          Number of losing bets: 85
          Number of underdog bets: 89
          Number of underdog wins: 39
          Number of underdog losses: 50
          Number of Favorite bets: 91
          Number of favorite wins: 59
          Number of favorite losses: 32
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: 990.0325213103214
          Profit per bet: 5.410013777652029
          Profit per match: 4.950162606551607

(4521, 172)

(4521,)

(4521, 2)

(200, 172)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.519126  0.480874       0
1       -137      117  0.623060  0.376940       1
2       -178      157  0.625476  0.374524       1
3       -178      157  0.619219  0.380781       1
4        125     -145  0.497708  0.502292       0
..       ...      ...       ...       ...     ...
195     -230      180  0.759077  0.240923       1
196      180     -230  0.358944  0.641056       1
197     -103     -117  0.564181  0.435819       0
198     -140      120  0.536870  0.463130       0
199      105     -125  0.489670  0.510330       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 156
          Number of winning bets: 81
          Number of losing bets: 75
          Number of underdog bets: 80
          Number of underdog wins: 35
          Number of underdog losses: 45
          Number of Favorite bets: 73
          Number of favorite wins: 46
          Number of favorite losses: 27
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -469.6786710665882
          Profit per bet: -3.010760711965309
          Profit per match: -2.348393355332941

(3578, 22)

(3578,)

(3578, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.753256  0.246744       0
1       -137      117  0.718185  0.281815       1
2       -178      157  0.649098  0.350902       1
3       -178      157  0.665261  0.334739       1
4        125     -145  0.440813  0.559187       0
..       ...      ...       ...       ...     ...
195     -230      180  0.745205  0.254795       1
196      180     -230  0.417141  0.582859       1
197     -103     -117  0.735385  0.264615       0
198     -140      120  0.998081  0.001919       0
199      105     -125  0.497024  0.502976       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 182
          Number of winning bets: 95
          Number of losing bets: 87
          Number of underdog bets: 85
          Number of underdog wins: 37
          Number of underdog losses: 48
          Number of Favorite bets: 94
          Number of favorite wins: 58
          Number of favorite losses: 36
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -372.6349433255963
          Profit per bet: -2.0474447435472323
          Profit per match: -1.8631747166279815

(3578, 24)

(3578,)

(3578, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.778353  0.221647       0
1       -137      117  0.817840  0.182160       1
2       -178      157  0.608311  0.391689       1
3       -178      157  0.601592  0.398408       1
4        125     -145  0.538037  0.461963       0
..       ...      ...       ...       ...     ...
195     -230      180  0.699421  0.300579       1
196      180     -230  0.382720  0.617280       1
197     -103     -117  0.747511  0.252489       0
198     -140      120  0.997945  0.002055       0
199      105     -125  0.552217  0.447783       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 171
          Number of winning bets: 87
          Number of losing bets: 84
          Number of underdog bets: 85
          Number of underdog wins: 35
          Number of underdog losses: 50
          Number of Favorite bets: 83
          Number of favorite wins: 52
          Number of favorite losses: 31
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -583.4522165214593
          Profit per bet: -3.412001266207364
          Profit per match: -2.9172610826072964

(3577, 22)

(3577,)

(3577, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.758046  0.241954       0
1       -137      117  0.658478  0.341522       1
2       -178      157  0.648021  0.351979       1
3       -178      157  0.685767  0.314233       1
4        125     -145  0.567151  0.432849       0
..       ...      ...       ...       ...     ...
195     -230      180  0.710083  0.289917       1
196      180     -230  0.468314  0.531686       1
197     -103     -117  0.745443  0.254557       0
198     -140      120  0.998138  0.001862       0
199      105     -125  0.486974  0.513026       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 181
          Number of winning bets: 95
          Number of losing bets: 86
          Number of underdog bets: 88
          Number of underdog wins: 37
          Number of underdog losses: 51
          Number of Favorite bets: 90
          Number of favorite wins: 58
          Number of favorite losses: 32
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -11.157844329544261
          Profit per bet: -0.06164554878201249
          Profit per match: -0.05578922164772131

(3480, 56)

(3480,)

(3480, 2)

(198, 56)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.346083  0.653917       0
1       -137      117  0.952549  0.047451       1
2       -178      157  0.023312  0.976688       1
3       -178      157  0.450471  0.549529       1
4        125     -145  0.574254  0.425746       0
..       ...      ...       ...       ...     ...
193     -230      180  0.905095  0.094905       1
194      180     -230  0.139774  0.860226       1
195     -103     -117  0.794056  0.205944       0
196     -140      120  0.004885  0.995115       0
197      105     -125  0.999089  0.000911       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 162
          Number of winning bets: 79
          Number of losing bets: 83
          Number of underdog bets: 91
          Number of underdog wins: 41
          Number of underdog losses: 50
          Number of Favorite bets: 69
          Number of favorite wins: 38
          Number of favorite losses: 31
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 233.62622050510356
          Profit per bet: 1.4421371636117504
          Profit per match: 1.1799304065914322

(3480, 19)

(3480,)

(3480, 2)

(200, 19)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.624363  0.375637       0
1       -137      117  0.568118  0.431882       1
2       -178      157  0.573170  0.426830       1
3       -178      157  0.638953  0.361047       1
4        125     -145  0.478183  0.521817       0
..       ...      ...       ...       ...     ...
195     -230      180  0.738116  0.261884       1
196      180     -230  0.439702  0.560298       1
197     -103     -117  0.553138  0.446862       0
198     -140      120  0.552473  0.447527       0
199      105     -125  0.583560  0.416440       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 154
          Number of winning bets: 72
          Number of losing bets: 82
          Number of underdog bets: 103
          Number of underdog wins: 40
          Number of underdog losses: 63
          Number of Favorite bets: 50
          Number of favorite wins: 32
          Number of favorite losses: 18
          Number of even bets: 1
          Number of even wins: 0
          Number of even losses: 1
          Profit: -690.9821023853907
          Profit per bet: -4.486896768736303
          Profit per match: -3.4549105119269536

(3480, 26)

(3480,)

(3480, 2)

(198, 26)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -130      110  0.653797  0.346203       0
1       -137      117  0.663243  0.336757       1
2       -178      157  0.558588  0.441412       1
3       -178      157  0.588921  0.411079       1
4        125     -145  0.435416  0.564584       0
..       ...      ...       ...       ...     ...
193     -230      180  0.648092  0.351908       1
194      180     -230  0.433746  0.566254       1
195     -103     -117  0.538621  0.461379       0
196     -140      120  0.425760  0.574240       0
197      105     -125  0.513779  0.486221       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 132
          Number of winning bets: 62
          Number of losing bets: 70
          Number of underdog bets: 94
          Number of underdog wins: 39
          Number of underdog losses: 55
          Number of Favorite bets: 38
          Number of favorite wins: 23
          Number of favorite losses: 15
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: -16.79453539556222
          Profit per bet: -0.12723132875425924
          Profit per match: -0.08482088583617284

In [22]:
print(models[4])

['-177.3976305032445', '-517.5586724157288', '51.485661931175315', '-273.34880970516065', '1182.7971751988935', '-708.2060686', '509.4118744', '1122.644041', '-12.87052008', '642.8135906', '203.2974615', '179.6331948', '601.1884794', '1255.868899', '214.6801635']

In [23]:
print(score_list)

[-196.21005751678678, 402.5012308757292, -1212.5587785925702, -449.30925740542546, -359.95819873511977, 1205.6523569028263, 385.06251390004115, 990.0325213103214, -469.6786710665882, -372.6349433255963, -583.4522165214593, -11.157844329544261, 233.62622050510356, -690.9821023853907, -16.79453539556222]

In [24]:
models[4] = score_list

In [25]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=27, max_leaf_nodes=336, min_samples_leaf=3,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=6,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ['[\'R_Welterweight_rank\', \'R_Middleweight_rank\', \'B_Light Heavyweight_rank\', \'R_draw\', \'R_win_by_Decision_Majority\', \'sig_str_dif\', \'B_Featherweight_rank\', \'R_Lightweight_rank\', \'B_odds\', \'R_avg_TD_landed\', \'B_ev\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\']',
  '[\'longest_win_streak_dif\', \'avg_td_dif\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'R_Stance\', \'R_avg_SUB_ATT\', \'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '["B_Women\'s Bantamweight_rank", "R_Women\'s Flyweight_rank", \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\']',
  "['R_Height_cms', 'reach_dif', 'age_dif', 'lose_streak_dif', 'B_draw', 'B_odds', 'B_avg_TD_pct', 'R_Reach_cms', 'B_win_by_Decision_Unanimous', 'R_win_by_Submission', 'height_dif', 'R_avg_TD_pct', 'R_avg_SIG_STR_pct', 'win_streak_dif', 'B_avg_TD_landed', 'B_current_lose_streak', 'B_age', 'R_win_by_Decision_Split', 'avg_td_dif', 'R_Middleweight_rank', 'better_rank', 'B_Flyweight_rank', 'B_win_by_KO/TKO', 'B_win_by_Decision_Split', 'R_win_by_Decision_Majority', 'R_Lightweight_rank', 'R_Flyweight_rank', 'R_win_by_TKO_Doctor_Stoppage', 'B_Stance', 'R_avg_TD_landed', 'B_avg_SIG_STR_landed', 'empty_arena']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '0', '4', '35', '1', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 [-196.21005751678678,
  402.5012308757292,
  -1212.5587785925702,
  -449.30925740542546,
  -359.95819873511977,
  1205.6523569028263,
  385.06251390004115,
  990.0325213103214,
  -469.6786710665882,
  -372.6349433255963,
  -583.4522165214593,
  -11.157844329544261,
  233.62622050510356,
  -690.9821023853907,
  -16.79453539556222]]

In [29]:
with open('models_test.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI