In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [3]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=3, max_leaf_nodes=336, min_samples_leaf=0.01,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=83, max_leaf_nodes=20,\n                       min_samples_leaf=0.009999000000000001, n_estimators=39,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['R_Stance', 'age_dif', 'B_ev']",
  "['R_Stance', 'weight_class', 'B_avg_SIG_STR_landed', 'R_ev']",
  "['R_Height_cms', 'B_odds', 'B_age', 'R_Reach_cms', 'B_avg_TD_pct', 'R_odds', 'B_avg_TD_landed']",
  "['total_title_bout_dif', 'R_avg_SIG_STR_pct', 'B_ev']",
  "['B_current_lose_streak', 'R_Reach_cms', 'B_win_by_Decision_Unanimous', 'B_Height_cms', 'reach_dif', 'B_Lightweight_rank', 'R_ev', 'B_Stance']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '4', '2', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 ['-908.2270374810071',
  '-1583.8882911882702',
  '863.5071918326112',
  '-289.14301717372734',
  '60.82113687354486',
  '1650.158334',
  '468.0115554',
  '2570.446418',
  '-513.9756548',
  '140.333141',
  '287.0186564',
  '703.5510631',
  '-126.6379278',
  '622.5142487',
  '-296.0965473']]

In [4]:
df = pd.read_csv("../data/kaggle_data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[250:]
odds_train = odds_df[250:]
label_train = label_df[250:]

df_test = df[:250]
odds_test = odds_df[:250]
label_test = label_df[:250]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

250
250
250
4497
4497
4497

<ipython-input-5-d6c2a1ffdd58>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 0
<ipython-input-5-d6c2a1ffdd58>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 1

In [6]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

250
4497

In [7]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\matth\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
len(models[0])

15

In [9]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(4497, 6)

(4497,)

(4497, 2)

(250, 6)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.706442  0.293558       0
1       -195      150  0.618122  0.381878       1
2       -500      355  0.819748  0.180252       0
3        170     -220  0.523882  0.476118       1
4        210     -275  0.422040  0.577960       0
..       ...      ...       ...       ...     ...
245      140     -177  0.519671  0.480329       1
246     -215      170  0.642815  0.357185       0
247     -200      160  0.626083  0.373917       0
248     -139      112  0.510932  0.489068       0
249      310     -420  0.466250  0.533750       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 189
          Number of winning bets: 78
          Number of losing bets: 112
          Number of underdog bets: 153
          Number of underdog wins: 57
          Number of underdog losses: 96
          Number of Favorite bets: 37
          Number of favorite wins: 21
          Number of favorite losses: 16
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: -908.2270374810071
          Profit per bet: -4.8054340607460695
          Profit per match: -3.6329081499240283

(3567, 19)

(3567,)

(3567, 2)

(250, 19)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.756530  0.243470       0
1       -195      150  0.756530  0.243470       1
2       -500      355  0.756530  0.243470       0
3        170     -220  0.504726  0.495274       1
4        210     -275  0.463991  0.536009       0
..       ...      ...       ...       ...     ...
245      140     -177  0.504726  0.495274       1
246     -215      170  0.756530  0.243470       0
247     -200      160  0.756530  0.243470       0
248     -139      112  0.463991  0.536009       0
249      310     -420  0.463991  0.536009       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 189
          Number of winning bets: 81
          Number of losing bets: 108
          Number of underdog bets: 142
          Number of underdog wins: 51
          Number of underdog losses: 91
          Number of Favorite bets: 47
          Number of favorite wins: 30
          Number of favorite losses: 17
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: -1583.8882911882702
          Profit per bet: -8.380361329038466
          Profit per match: -6.3355531647530805

(3655, 7)

(3655,)

(3655, 2)

(250, 7)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.726725  0.273275       0
1       -195      150  0.586916  0.413084       1
2       -500      355  0.761285  0.238715       0
3        170     -220  0.373052  0.626948       1
4        210     -275  0.375364  0.624636       0
..       ...      ...       ...       ...     ...
245      140     -177  0.505699  0.494301       1
246     -215      170  0.723330  0.276670       0
247     -200      160  0.623582  0.376418       0
248     -139      112  0.481927  0.518073       0
249      310     -420  0.275034  0.724966       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 166
          Number of winning bets: 85
          Number of losing bets: 83
          Number of underdog bets: 123
          Number of underdog wins: 52
          Number of underdog losses: 71
          Number of Favorite bets: 43
          Number of favorite wins: 32
          Number of favorite losses: 11
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: 863.5071918326112
          Profit per bet: 5.201850553208501
          Profit per match: 3.4540287673304446

(4140, 3)

(4140,)

(4140, 2)

(250, 3)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.713456  0.286544       0
1       -195      150  0.550871  0.449129       1
2       -500      355  0.886410  0.113590       0
3        170     -220  0.411231  0.588769       1
4        210     -275  0.286660  0.713340       0
..       ...      ...       ...       ...     ...
245      140     -177  0.317834  0.682166       1
246     -215      170  0.656719  0.343281       0
247     -200      160  0.566308  0.433692       0
248     -139      112  0.551483  0.448517       0
249      310     -420  0.292437  0.707563       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 180
          Number of winning bets: 94
          Number of losing bets: 86
          Number of underdog bets: 88
          Number of underdog wins: 39
          Number of underdog losses: 49
          Number of Favorite bets: 88
          Number of favorite wins: 54
          Number of favorite losses: 34
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: -289.14301717372734
          Profit per bet: -1.6063500954095964
          Profit per match: -1.1565720686949095

(4497, 12)

(4497,)

(4497, 2)

(248, 12)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.981722  0.018278       0
1       -195      150  0.957282  0.042718       1
2       -500      355  0.947903  0.052097       0
3        170     -220  0.837480  0.162520       1
4        210     -275  0.680651  0.319349       0
..       ...      ...       ...       ...     ...
243      140     -177  0.919188  0.080812       1
244     -215      170  0.969932  0.030068       0
245     -200      160  0.962193  0.037807       0
246     -139      112  0.946278  0.053722       0
247      310     -420  0.082175  0.917825       1

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 248
          Number of winning bets: 140
          Number of losing bets: 108
          Number of underdog bets: 97
          Number of underdog wins: 44
          Number of underdog losses: 53
          Number of Favorite bets: 147
          Number of favorite wins: 95
          Number of favorite losses: 52
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 60.82113687354486
          Profit per bet: 0.24524651965139055
          Profit per match: 0.24524651965139055

(4497, 10)

(4497,)

(4497, 2)

(250, 10)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.666505  0.333495       0
1       -195      150  0.619025  0.380975       1
2       -500      355  0.822097  0.177903       0
3        170     -220  0.385408  0.614592       1
4        210     -275  0.347287  0.652713       0
..       ...      ...       ...       ...     ...
245      140     -177  0.430846  0.569154       1
246     -215      170  0.639931  0.360069       0
247     -200      160  0.635045  0.364955       0
248     -139      112  0.549909  0.450091       0
249      310     -420  0.233377  0.766623       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 107
          Number of winning bets: 54
          Number of losing bets: 54
          Number of underdog bets: 98
          Number of underdog wins: 44
          Number of underdog losses: 54
          Number of Favorite bets: 10
          Number of favorite wins: 10
          Number of favorite losses: 0
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1479.903719982831
          Profit per bet: 13.83087588769001
          Profit per match: 5.919614879931324

(3665, 14)

(3665,)

(3665, 2)

(250, 14)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -235      185  2.869344e-04  0.999713       0
1       -195      150  2.171600e-14  1.000000       1
2       -500      355  7.677409e-01  0.232259       0
3        170     -220  4.605271e-01  0.539473       1
4        210     -275  4.860667e-01  0.513933       0
..       ...      ...           ...       ...     ...
245      140     -177  6.218733e-01  0.378127       1
246     -215      170  7.778767e-01  0.222123       0
247     -200      160  7.854124e-01  0.214588       0
248     -139      112  6.685457e-01  0.331454       0
249      310     -420  9.047000e-01  0.095300       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 233
          Number of winning bets: 123
          Number of losing bets: 110
          Number of underdog bets: 107
          Number of underdog wins: 45
          Number of underdog losses: 62
          Number of Favorite bets: 122
          Number of favorite wins: 77
          Number of favorite losses: 45
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 54.7433723750309
          Profit per bet: 0.23495009603017555
          Profit per match: 0.2189734895001236

(3665, 18)

(3665,)

(3665, 2)

(250, 18)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -235      185  1.430885e-03  0.998569       0
1       -195      150  2.233703e-14  1.000000       1
2       -500      355  8.250218e-01  0.174978       0
3        170     -220  5.148227e-01  0.485177       1
4        210     -275  5.413794e-01  0.458621       0
..       ...      ...           ...       ...     ...
245      140     -177  6.132885e-01  0.386711       1
246     -215      170  7.252013e-01  0.274799       0
247     -200      160  7.937382e-01  0.206262       0
248     -139      112  6.275582e-01  0.372442       0
249      310     -420  9.341116e-01  0.065888       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 226
          Number of winning bets: 124
          Number of losing bets: 103
          Number of underdog bets: 110
          Number of underdog wins: 47
          Number of underdog losses: 63
          Number of Favorite bets: 113
          Number of favorite wins: 76
          Number of favorite losses: 37
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 1544.2132004291993
          Profit per bet: 6.832801771810616
          Profit per match: 6.176852801716797

(4497, 172)

(4497,)

(4497, 2)

(250, 172)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.517586  0.482414       0
1       -195      150  0.698840  0.301160       1
2       -500      355  0.844929  0.155071       0
3        170     -220  0.319050  0.680950       1
4        210     -275  0.256984  0.743016       0
..       ...      ...       ...       ...     ...
245      140     -177  0.625505  0.374495       1
246     -215      170  0.739491  0.260509       0
247     -200      160  0.665326  0.334674       0
248     -139      112  0.525578  0.474422       0
249      310     -420  0.139707  0.860293       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 198
          Number of winning bets: 102
          Number of losing bets: 96
          Number of underdog bets: 103
          Number of underdog wins: 43
          Number of underdog losses: 60
          Number of Favorite bets: 92
          Number of favorite wins: 58
          Number of favorite losses: 34
          Number of even bets: 3
          Number of even wins: 1
          Number of even losses: 2
          Profit: -525.5214992389119
          Profit per bet: -2.6541489860551106
          Profit per match: -2.1020859969556476

(3554, 22)

(3554,)

(3554, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -235      185  8.504380e-04  0.999150       0
1       -195      150  7.499894e-14  1.000000       1
2       -500      355  9.672131e-01  0.032787       0
3        170     -220  3.269216e-02  0.967308       1
4        210     -275  6.662203e-01  0.333780       0
..       ...      ...           ...       ...     ...
245      140     -177  1.016477e-01  0.898352       1
246     -215      170  7.218656e-01  0.278134       0
247     -200      160  8.562232e-01  0.143777       0
248     -139      112  6.750074e-01  0.324993       0
249      310     -420  9.561094e-01  0.043891       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 224
          Number of winning bets: 121
          Number of losing bets: 104
          Number of underdog bets: 104
          Number of underdog wins: 44
          Number of underdog losses: 60
          Number of Favorite bets: 117
          Number of favorite wins: 76
          Number of favorite losses: 41
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 218.4326440018466
          Profit per bet: 0.9751457321511009
          Profit per match: 0.8737305760073864

(3554, 24)

(3554,)

(3554, 2)

(250, 24)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -235      185  2.164662e-06  0.999998       0
1       -195      150  8.762878e-14  1.000000       1
2       -500      355  9.965368e-01  0.003463       0
3        170     -220  7.120422e-02  0.928796       1
4        210     -275  7.659677e-01  0.234032       0
..       ...      ...           ...       ...     ...
245      140     -177  5.490064e-02  0.945099       1
246     -215      170  6.837263e-01  0.316274       0
247     -200      160  8.443320e-01  0.155668       0
248     -139      112  6.522538e-01  0.347746       0
249      310     -420  9.542523e-01  0.045748       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 213
          Number of winning bets: 117
          Number of losing bets: 97
          Number of underdog bets: 108
          Number of underdog wins: 47
          Number of underdog losses: 61
          Number of Favorite bets: 102
          Number of favorite wins: 69
          Number of favorite losses: 33
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 1170.5532989926305
          Profit per bet: 5.495555394331599
          Profit per match: 4.682213195970522

(3553, 22)

(3553,)

(3553, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -235      185  2.672111e-06  0.999997       0
1       -195      150  1.222026e-08  1.000000       1
2       -500      355  9.256567e-01  0.074343       0
3        170     -220  5.414844e-02  0.945852       1
4        210     -275  7.790936e-01  0.220906       0
..       ...      ...           ...       ...     ...
245      140     -177  2.839454e-02  0.971605       1
246     -215      170  7.191265e-01  0.280873       0
247     -200      160  8.656028e-01  0.134397       0
248     -139      112  6.901777e-01  0.309822       0
249      310     -420  9.401021e-01  0.059898       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 219
          Number of winning bets: 121
          Number of losing bets: 100
          Number of underdog bets: 106
          Number of underdog wins: 45
          Number of underdog losses: 61
          Number of Favorite bets: 111
          Number of favorite wins: 75
          Number of favorite losses: 36
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 878.7154754819749
          Profit per bet: 4.012399431424543
          Profit per match: 3.5148619019278993

(3456, 56)

(3456,)

(3456, 2)

(248, 56)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.367962  0.632038       0
1       -195      150  0.326732  0.673268       1
2       -500      355  0.994314  0.005686       0
3        170     -220  0.004546  0.995454       1
4        210     -275  0.471789  0.528211       0
..       ...      ...       ...       ...     ...
243      140     -177  0.976161  0.023839       1
244     -215      170  0.946336  0.053664       0
245     -200      160  0.936548  0.063452       0
246     -139      112  0.044766  0.955234       0
247      310     -420  0.988665  0.011335       1

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 197
          Number of winning bets: 97
          Number of losing bets: 100
          Number of underdog bets: 109
          Number of underdog wins: 44
          Number of underdog losses: 65
          Number of Favorite bets: 87
          Number of favorite wins: 53
          Number of favorite losses: 34
          Number of even bets: 1
          Number of even wins: 0
          Number of even losses: 1
          Profit: -84.0959191922784
          Profit per bet: -0.4268828385394843
          Profit per match: -0.3390964483559613

(3456, 19)

(3456,)

(3456, 2)

(250, 19)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.722826  0.277174       0
1       -195      150  0.731181  0.268819       1
2       -500      355  0.716371  0.283629       0
3        170     -220  0.431526  0.568474       1
4        210     -275  0.447342  0.552658       0
..       ...      ...       ...       ...     ...
245      140     -177  0.628565  0.371435       1
246     -215      170  0.763707  0.236293       0
247     -200      160  0.643313  0.356687       0
248     -139      112  0.588453  0.411547       0
249      310     -420  0.394263  0.605737       1

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 202
          Number of winning bets: 96
          Number of losing bets: 107
          Number of underdog bets: 140
          Number of underdog wins: 55
          Number of underdog losses: 85
          Number of Favorite bets: 61
          Number of favorite wins: 40
          Number of favorite losses: 21
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: -424.7399613025217
          Profit per bet: -2.102673075755058
          Profit per match: -1.6989598452100867

(3456, 26)

(3456,)

(3456, 2)

(248, 26)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -235      185  0.659700  0.340300       0
1       -195      150  0.836505  0.163495       1
2       -500      355  0.756976  0.243024       0
3        170     -220  0.293203  0.706797       1
4        210     -275  0.393759  0.606241       0
..       ...      ...       ...       ...     ...
243      140     -177  0.723689  0.276311       1
244     -215      170  0.730394  0.269606       0
245     -200      160  0.692849  0.307151       0
246     -139      112  0.559178  0.440822       0
247      310     -420  0.335167  0.664833       1

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 172
          Number of winning bets: 78
          Number of losing bets: 96
          Number of underdog bets: 117
          Number of underdog wins: 44
          Number of underdog losses: 73
          Number of Favorite bets: 55
          Number of favorite wins: 32
          Number of favorite losses: 23
          Number of even bets: 2
          Number of even wins: 2
          Number of even losses: 0
          Profit: -1072.0520831966664
          Profit per bet: -6.232860948817828
          Profit per match: -4.322790658051074

In [10]:
print(models[4])

['-908.2270374810071', '-1583.8882911882702', '863.5071918326112', '-289.14301717372734', '60.82113687354486', '1650.158334', '468.0115554', '2570.446418', '-513.9756548', '140.333141', '287.0186564', '703.5510631', '-126.6379278', '622.5142487', '-296.0965473']

In [11]:
print(score_list)

[-908.2270374810071, -1583.8882911882702, 863.5071918326112, -289.14301717372734, 60.82113687354486, 1479.903719982831, 54.7433723750309, 1544.2132004291993, -525.5214992389119, 218.4326440018466, 1170.5532989926305, 878.7154754819749, -84.0959191922784, -424.7399613025217, -1072.0520831966664]

In [12]:
models[4] = score_list

In [13]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=3, max_leaf_nodes=336, min_samples_leaf=0.01,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=83, max_leaf_nodes=20,\n                       min_samples_leaf=0.009999000000000001, n_estimators=39,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['R_Stance', 'age_dif', 'B_ev']",
  "['R_Stance', 'weight_class', 'B_avg_SIG_STR_landed', 'R_ev']",
  "['R_Height_cms', 'B_odds', 'B_age', 'R_Reach_cms', 'B_avg_TD_pct', 'R_odds', 'B_avg_TD_landed']",
  "['total_title_bout_dif', 'R_avg_SIG_STR_pct', 'B_ev']",
  "['B_current_lose_streak', 'R_Reach_cms', 'B_win_by_Decision_Unanimous', 'B_Height_cms', 'reach_dif', 'B_Lightweight_rank', 'R_ev', 'B_Stance']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '4', '2', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 [-908.2270374810071,
  -1583.8882911882702,
  863.5071918326112,
  -289.14301717372734,
  60.82113687354486,
  1479.903719982831,
  54.7433723750309,
  1544.2132004291993,
  -525.5214992389119,
  218.4326440018466,
  1170.5532989926305,
  878.7154754819749,
  -84.0959191922784,
  -424.7399613025217,
  -1072.0520831966664]]

In [14]:
with open('models.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI