In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('../data/production_models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [3]:
models

[['model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20',
  'model_2021_06_24',
  'model_2021_06_30'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=0.0015,\n                           n_estimators=195, random_state=75)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=0.0015,\n                           n_estimators=195, random_state=75)'],
 ["['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '["R_Women\'s Featherweight_rank", \'B_Featherweight_rank\', \'B_win_by_KO/TKO\', \'R_Pound-for-Pound_rank\', \'reach_dif\', "R_Women\'s Bantamweight_rank", \'age_dif\', \'weight_class\', \'B_Reach_cms\', \'B_Welterweight_rank\', \'B_total_title_bouts\', \'R_avg_TD_pct\', \'B_Bantamweight_rank\', \'R_Featherweight_rank\', \'no_of_rounds\', \'B_draw\', \'B_Stance\', \'R_win_by_TKO_Doctor_Stoppage\', \'R_current_win_streak\', \'B_avg_SIG_STR_landed\', \'country\']',
  '["R_Women\'s Strawweight_rank", \'B_Lightweight_rank\', \'B_Pound-for-Pound_rank\', "R_Women\'s Featherweight_rank", \'B_Featherweight_rank\', \'B_win_by_KO/TKO\', \'R_Pound-for-Pound_rank\', \'reach_dif\', "R_Women\'s Bantamweight_rank", \'age_dif\', \'weight_class\', \'B_Reach_cms\', \'B_Welterweight_rank\', \'B_total_title_bouts\', \'R_avg_TD_pct\', \'B_Bantamweight_rank\', \'R_Featherweight_rank\', \'no_of_rounds\', \'B_draw\', \'B_Stance\', \'R_win_by_TKO_Doctor_Stoppage\', \'R_current_win_streak\', \'B_avg_SIG_STR_landed\', \'country\']'],
 ['0', '0', '0', '0', '1', '3', '2', '27', '1', '5', '33', '0'],
 ['1652.412901',
  '-89.10560164',
  '931.7343408',
  '-1665.294851',
  '22.11070203',
  '-93.34709404',
  '-23.27494407',
  '549.7604014',
  '-635.9246582',
  '-678.809811',
  '2001.216221',
  '2634.183443']]

In [4]:
df = pd.read_csv("../data/kaggle_data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[250:]
odds_train = odds_df[250:]
label_train = label_df[250:]

df_test = df[:250]
odds_test = odds_df[:250]
label_test = label_df[:250]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

250
250
250
4533
4533
4533

<ipython-input-5-d6c2a1ffdd58>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 0
<ipython-input-5-d6c2a1ffdd58>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 1

In [6]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

250
4533

In [7]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\matth\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
len(models[0])

12

In [9]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(4533, 10)

(4533,)

(4533, 2)

(250, 10)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.517066  0.482934       0
1        130     -162  0.382325  0.617675       0
2       -130      105  0.550945  0.449055       0
3       -107     -115  0.495141  0.504859       0
4      -1000      580  0.916873  0.083127       0
..       ...      ...       ...       ...     ...
245     -155      125  0.580050  0.419950       0
246     -175      135  0.597944  0.402056       1
247     -530      375  0.830347  0.169653       0
248      170     -215  0.396891  0.603109       1
249     -162      138  0.576636  0.423364       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 115
          Number of winning bets: 59
          Number of losing bets: 57
          Number of underdog bets: 98
          Number of underdog wins: 43
          Number of underdog losses: 55
          Number of Favorite bets: 18
          Number of favorite wins: 16
          Number of favorite losses: 2
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1327.4129006482722
          Profit per bet: 11.542720875202367
          Profit per match: 5.309651602593089

(3701, 14)

(3701,)

(3701, 2)

(250, 14)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.693488  0.306512       0
1        130     -162  0.000238  0.999762       0
2       -130      105  0.656852  0.343148       0
3       -107     -115  0.659017  0.340983       0
4      -1000      580  0.994817  0.005183       0
..       ...      ...       ...       ...     ...
245     -155      125  0.793762  0.206238       0
246     -175      135  0.787798  0.212202       1
247     -530      375  0.880274  0.119726       0
248      170     -215  0.671548  0.328452       1
249     -162      138  0.555059  0.444941       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 231
          Number of winning bets: 120
          Number of losing bets: 111
          Number of underdog bets: 109
          Number of underdog wins: 43
          Number of underdog losses: 66
          Number of Favorite bets: 120
          Number of favorite wins: 77
          Number of favorite losses: 43
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -565.0511426621727
          Profit per bet: -2.446108842693388
          Profit per match: -2.2602045706486904

(3701, 18)

(3701,)

(3701, 2)

(250, 18)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.680232  0.319768       0
1        130     -162  0.000221  0.999779       0
2       -130      105  0.586115  0.413885       0
3       -107     -115  0.521503  0.478497       0
4      -1000      580  0.997750  0.002250       0
..       ...      ...       ...       ...     ...
245     -155      125  0.698208  0.301792       0
246     -175      135  0.707133  0.292867       1
247     -530      375  0.828046  0.171954       0
248      170     -215  0.542226  0.457774       1
249     -162      138  0.994201  0.005799       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 227
          Number of winning bets: 124
          Number of losing bets: 104
          Number of underdog bets: 113
          Number of underdog wins: 46
          Number of underdog losses: 67
          Number of Favorite bets: 113
          Number of favorite wins: 78
          Number of favorite losses: 35
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 1208.7101824074134
          Profit per bet: 5.324714459944553
          Profit per match: 4.834840729629653

(4533, 172)

(4533,)

(4533, 2)

(250, 172)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.606069  0.393931       0
1        130     -162  0.342619  0.657381       0
2       -130      105  0.576866  0.423134       0
3       -107     -115  0.519576  0.480424       0
4      -1000      580  0.890615  0.109385       0
..       ...      ...       ...       ...     ...
245     -155      125  0.543092  0.456908       0
246     -175      135  0.557926  0.442074       1
247     -530      375  0.793835  0.206165       0
248      170     -215  0.431492  0.568508       1
249     -162      138  0.567207  0.432793       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 199
          Number of winning bets: 108
          Number of losing bets: 92
          Number of underdog bets: 100
          Number of underdog wins: 43
          Number of underdog losses: 57
          Number of Favorite bets: 98
          Number of favorite wins: 65
          Number of favorite losses: 33
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 172.0095485124437
          Profit per bet: 0.8643695905147925
          Profit per match: 0.6880381940497748

(3590, 22)

(3590,)

(3590, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.032625  0.967375       0
1        130     -162  0.000865  0.999135       0
2       -130      105  0.653374  0.346626       0
3       -107     -115  0.542878  0.457122       0
4      -1000      580  0.995246  0.004754       0
..       ...      ...       ...       ...     ...
245     -155      125  0.501009  0.498991       0
246     -175      135  0.661992  0.338008       1
247     -530      375  0.729221  0.270779       0
248      170     -215  0.699298  0.300702       1
249     -162      138  0.998359  0.001641       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 220
          Number of winning bets: 118
          Number of losing bets: 103
          Number of underdog bets: 103
          Number of underdog wins: 42
          Number of underdog losses: 61
          Number of Favorite bets: 116
          Number of favorite wins: 76
          Number of favorite losses: 40
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -362.8250600269029
          Profit per bet: -1.6492048183041041
          Profit per match: -1.4513002401076116

(3590, 24)

(3590,)

(3590, 2)

(250, 24)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -129      100  4.441443e-07  1.000000       0
1        130     -162  8.143993e-04  0.999186       0
2       -130      105  6.639957e-01  0.336004       0
3       -107     -115  5.003949e-01  0.499605       0
4      -1000      580  9.951443e-01  0.004856       0
..       ...      ...           ...       ...     ...
245     -155      125  4.625632e-01  0.537437       0
246     -175      135  6.536987e-01  0.346301       1
247     -530      375  6.935395e-01  0.306460       0
248      170     -215  9.157435e-01  0.084257       1
249     -162      138  9.980791e-01  0.001921       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 209
          Number of winning bets: 110
          Number of losing bets: 100
          Number of underdog bets: 108
          Number of underdog wins: 43
          Number of underdog losses: 65
          Number of Favorite bets: 100
          Number of favorite wins: 67
          Number of favorite losses: 33
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -86.19393544157977
          Profit per bet: -0.41241117436162567
          Profit per match: -0.3447757417663191

(3589, 22)

(3589,)

(3589, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds       t1_prob   t2_prob  winner
0       -129      100  3.627893e-07  1.000000       0
1        130     -162  8.216799e-04  0.999178       0
2       -130      105  6.066126e-01  0.393387       0
3       -107     -115  6.026565e-01  0.397343       0
4      -1000      580  9.951407e-01  0.004859       0
..       ...      ...           ...       ...     ...
245     -155      125  5.036907e-01  0.496309       0
246     -175      135  6.608216e-01  0.339178       1
247     -530      375  7.210175e-01  0.278983       0
248      170     -215  8.668782e-01  0.133122       1
249     -162      138  9.976797e-01  0.002320       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 221
          Number of winning bets: 118
          Number of losing bets: 105
          Number of underdog bets: 109
          Number of underdog wins: 43
          Number of underdog losses: 66
          Number of Favorite bets: 112
          Number of favorite wins: 75
          Number of favorite losses: 37
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -280.82768335456325
          Profit per bet: -1.2707134993419151
          Profit per match: -1.123310733418253

(3492, 56)

(3492,)

(3492, 2)

(248, 56)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.996505  0.003495       0
1        130     -162  0.005117  0.994883       0
2       -130      105  0.552160  0.447840       0
3       -107     -115  0.913739  0.086261       0
4      -1000      580  0.990431  0.009569       0
..       ...      ...       ...       ...     ...
243     -155      125  0.913463  0.086537       0
244     -175      135  0.928957  0.071043       1
245     -530      375  0.985759  0.014241       0
246      170     -215  0.997459  0.002541       1
247     -162      138  0.979413  0.020587       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 206
          Number of winning bets: 102
          Number of losing bets: 104
          Number of underdog bets: 115
          Number of underdog wins: 47
          Number of underdog losses: 68
          Number of Favorite bets: 91
          Number of favorite wins: 55
          Number of favorite losses: 36
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 35.660788673065625
          Profit per bet: 0.17311062462653215
          Profit per match: 0.14379350271397429

(3492, 19)

(3492,)

(3492, 2)

(250, 19)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.586980  0.413020       0
1        130     -162  0.466922  0.533078       0
2       -130      105  0.539979  0.460021       0
3       -107     -115  0.532797  0.467203       0
4      -1000      580  0.867868  0.132132       0
..       ...      ...       ...       ...     ...
245     -155      125  0.559900  0.440100       0
246     -175      135  0.632212  0.367788       1
247     -530      375  0.695999  0.304001       0
248      170     -215  0.477237  0.522763       1
249     -162      138  0.532075  0.467925       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 196
          Number of winning bets: 94
          Number of losing bets: 103
          Number of underdog bets: 133
          Number of underdog wins: 53
          Number of underdog losses: 80
          Number of Favorite bets: 62
          Number of favorite wins: 40
          Number of favorite losses: 22
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: -386.9997999990313
          Profit per bet: -1.9744887755052618
          Profit per match: -1.5479991999961253

(3492, 26)

(3492,)

(3492, 2)

(248, 26)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.636922  0.363078       0
1        130     -162  0.491551  0.508449       0
2       -130      105  0.505441  0.494559       0
3       -107     -115  0.535570  0.464430       0
4      -1000      580  0.872524  0.127476       0
..       ...      ...       ...       ...     ...
243     -155      125  0.568679  0.431321       0
244     -175      135  0.640672  0.359328       1
245     -530      375  0.681813  0.318187       0
246      170     -215  0.400522  0.599478       1
247     -162      138  0.523603  0.476397       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 166
          Number of winning bets: 73
          Number of losing bets: 94
          Number of underdog bets: 111
          Number of underdog wins: 40
          Number of underdog losses: 71
          Number of Favorite bets: 55
          Number of favorite wins: 32
          Number of favorite losses: 23
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: -1351.1773840392746
          Profit per bet: -8.139622795417317
          Profit per match: -5.448295903384172

(3492, 63)

(3492,)

(3492, 2)

(248, 63)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.999904  0.000096       0
1        130     -162  0.589540  0.410460       0
2       -130      105  0.869778  0.130222       0
3       -107     -115  0.991146  0.008854       0
4      -1000      580  0.964789  0.035211       0
..       ...      ...       ...       ...     ...
243     -155      125  0.007213  0.992787       0
244     -175      135  0.328388  0.671612       1
245     -530      375  0.999842  0.000158       0
246      170     -215  0.695346  0.304654       1
247     -162      138  0.986042  0.013958       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 182
          Number of winning bets: 98
          Number of losing bets: 84
          Number of underdog bets: 110
          Number of underdog wins: 52
          Number of underdog losses: 58
          Number of Favorite bets: 71
          Number of favorite wins: 46
          Number of favorite losses: 25
          Number of even bets: 1
          Number of even wins: 0
          Number of even losses: 1
          Profit: 2498.742198278269
          Profit per bet: 13.729352737792686
          Profit per match: 10.07557338015431

(3492, 66)

(3492,)

(3492, 2)

(248, 66)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -129      100  0.999483  0.000517       0
1        130     -162  0.182313  0.817687       0
2       -130      105  0.807094  0.192906       0
3       -107     -115  0.995839  0.004161       0
4      -1000      580  0.991412  0.008588       0
..       ...      ...       ...       ...     ...
243     -155      125  0.008983  0.991017       0
244     -175      135  0.584293  0.415707       1
245     -530      375  0.999928  0.000072       0
246      170     -215  0.578699  0.421301       1
247     -162      138  0.989725  0.010275       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 245
          Number of winning bets: 142
          Number of losing bets: 103
          Number of underdog bets: 124
          Number of underdog wins: 57
          Number of underdog losses: 67
          Number of Favorite bets: 119
          Number of favorite wins: 85
          Number of favorite losses: 34
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 2902.534478765207
          Profit per bet: 11.84707950516411
          Profit per match: 11.703768059537126

In [10]:
print(models[4])

['1652.412901', '-89.10560164', '931.7343408', '-1665.294851', '22.11070203', '-93.34709404', '-23.27494407', '549.7604014', '-635.9246582', '-678.809811', '2001.216221', '2634.183443']

In [11]:
print(score_list)

[1327.4129006482722, -565.0511426621727, 1208.7101824074134, 172.0095485124437, -362.8250600269029, -86.19393544157977, -280.82768335456325, 35.660788673065625, -386.9997999990313, -1351.1773840392746, 2498.742198278269, 2902.534478765207]

In [12]:
models[4] = score_list

In [13]:
models

[['model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20',
  'model_2021_06_24',
  'model_2021_06_30'],
 ['LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)",
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=0.0015,\n                           n_estimators=195, random_state=75)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=0.0015,\n                           n_estimators=195, random_state=75)'],
 ["['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '["R_Women\'s Featherweight_rank", \'B_Featherweight_rank\', \'B_win_by_KO/TKO\', \'R_Pound-for-Pound_rank\', \'reach_dif\', "R_Women\'s Bantamweight_rank", \'age_dif\', \'weight_class\', \'B_Reach_cms\', \'B_Welterweight_rank\', \'B_total_title_bouts\', \'R_avg_TD_pct\', \'B_Bantamweight_rank\', \'R_Featherweight_rank\', \'no_of_rounds\', \'B_draw\', \'B_Stance\', \'R_win_by_TKO_Doctor_Stoppage\', \'R_current_win_streak\', \'B_avg_SIG_STR_landed\', \'country\']',
  '["R_Women\'s Strawweight_rank", \'B_Lightweight_rank\', \'B_Pound-for-Pound_rank\', "R_Women\'s Featherweight_rank", \'B_Featherweight_rank\', \'B_win_by_KO/TKO\', \'R_Pound-for-Pound_rank\', \'reach_dif\', "R_Women\'s Bantamweight_rank", \'age_dif\', \'weight_class\', \'B_Reach_cms\', \'B_Welterweight_rank\', \'B_total_title_bouts\', \'R_avg_TD_pct\', \'B_Bantamweight_rank\', \'R_Featherweight_rank\', \'no_of_rounds\', \'B_draw\', \'B_Stance\', \'R_win_by_TKO_Doctor_Stoppage\', \'R_current_win_streak\', \'B_avg_SIG_STR_landed\', \'country\']'],
 ['0', '0', '0', '0', '1', '3', '2', '27', '1', '5', '33', '0'],
 [1327.4129006482722,
  -565.0511426621727,
  1208.7101824074134,
  172.0095485124437,
  -362.8250600269029,
  -86.19393544157977,
  -280.82768335456325,
  35.660788673065625,
  -386.9997999990313,
  -1351.1773840392746,
  2498.742198278269,
  2902.534478765207]]

In [14]:
with open('../data/production_models.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI