In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [3]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=3, max_leaf_nodes=336, min_samples_leaf=0.01,\n                       random_state=75, splitter='random')",
  'RandomForestClassifier(max_depth=10, min_samples_leaf=0.0099, n_jobs=-1,\n                       random_state=75)',
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['sig_str_dif', 'R_Weight_lbs', 'B_Weight_lbs', 'R_Lightweight_rank', 'R_draw', 'R_Light Heavyweight_rank', 'R_win_by_Decision_Split', 'age_dif', 'B_ev']",
  '["B_Women\'s Featherweight_rank", \'B_avg_SIG_STR_landed\', \'R_odds\', \'gender\', \'R_ev\', \'total_round_dif\']',
  "['R_Reach_cms', 'B_avg_SIG_STR_pct', 'R_win_by_TKO_Doctor_Stoppage', 'B_ev', 'total_round_dif']",
  "['B_total_title_bouts', 'B_Weight_lbs', 'B_avg_TD_pct', 'R_current_lose_streak', 'B_avg_SIG_STR_pct', 'R_Stance', 'R_win_by_Decision_Unanimous', 'B_age', 'B_avg_SUB_ATT', 'reach_dif', 'country', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_current_win_streak', 'avg_sub_att_dif', 'B_wins', 'empty_arena', 'B_win_by_Submission', 'B_Pound-for-Pound_rank', 'B_win_by_Decision_Unanimous', 'sig_str_dif', 'B_draw', 'R_avg_TD_landed', 'B_Lightweight_rank', 'B_Stance', 'total_round_dif']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 ['538.4166865',
  '-324.7349695106435',
  '-949.3347427574704',
  '1205.0828045280437',
  '79.82596213788835',
  '1165.977716',
  '528.6527731',
  '1500.93994',
  '493.1647765',
  '-431.4817089',
  '-35.23037836',
  '-19.43318131',
  '290.9104159',
  '-91.0629001',
  '-1129.80692']]

In [4]:
df = pd.read_csv("../data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[250:]
odds_train = odds_df[250:]
label_train = label_df[250:]

df_test = df[:250]
odds_test = odds_df[:250]
label_test = label_df[:250]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

250
250
250
4483
4483
4483

<ipython-input-5-d6c2a1ffdd58>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 0
<ipython-input-5-d6c2a1ffdd58>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 1

In [6]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

250
4483

In [7]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\matth\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
len(models[0])

15

In [9]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(4483, 9)

(4483,)

(4483, 2)

(250, 9)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.470229  0.529771       0
1        140     -177  0.455726  0.544274       1
2       -150      120  0.576973  0.423027       0
3        105     -134  0.520534  0.479466       0
4       -177      140  0.565079  0.434921       1
..       ...      ...       ...       ...     ...
245     -200      160  0.635440  0.364560       0
246     -335      250  0.705171  0.294829       0
247     -155      125  0.596977  0.403023       1
248     -286      225  0.697258  0.302742       0
249    -1667      850  0.989744  0.010256       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 193
          Number of winning bets: 94
          Number of losing bets: 99
          Number of underdog bets: 149
          Number of underdog wins: 63
          Number of underdog losses: 86
          Number of Favorite bets: 43
          Number of favorite wins: 30
          Number of favorite losses: 13
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: 1751.8798456314714
          Profit per bet: 9.077097645758919
          Profit per match: 7.007519382525886

(3553, 7)

(3553,)

(3553, 2)

(250, 7)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.540154  0.459846       0
1        140     -177  0.462850  0.537150       1
2       -150      120  0.636364  0.363636       0
3        105     -134  0.462850  0.537150       0
4       -177      140  0.540154  0.459846       1
..       ...      ...       ...       ...     ...
245     -200      160  0.636364  0.363636       0
246     -335      250  0.757114  0.242886       0
247     -155      125  0.636364  0.363636       1
248     -286      225  0.757114  0.242886       0
249    -1667      850  0.861925  0.138075       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 174
          Number of winning bets: 91
          Number of losing bets: 85
          Number of underdog bets: 87
          Number of underdog wins: 36
          Number of underdog losses: 51
          Number of Favorite bets: 85
          Number of favorite wins: 54
          Number of favorite losses: 31
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 32.397091539861236
          Profit per bet: 0.18619018126357031
          Profit per match: 0.12958836615944494

(3718, 5)

(3718,)

(3718, 2)

(250, 5)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.514088  0.485912       0
1        140     -177  0.408693  0.591307       1
2       -150      120  0.477201  0.522799       0
3        105     -134  0.471013  0.528987       0
4       -177      140  0.472904  0.527096       1
..       ...      ...       ...       ...     ...
245     -200      160  0.615943  0.384057       0
246     -335      250  0.728487  0.271513       0
247     -155      125  0.594698  0.405302       1
248     -286      225  0.722851  0.277149       0
249    -1667      850  0.857699  0.142301       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 185
          Number of winning bets: 87
          Number of losing bets: 98
          Number of underdog bets: 130
          Number of underdog wins: 51
          Number of underdog losses: 79
          Number of Favorite bets: 52
          Number of favorite wins: 36
          Number of favorite losses: 16
          Number of even bets: 3
          Number of even wins: 0
          Number of even losses: 3
          Profit: -580.852509498543
          Profit per bet: -3.1397432945867187
          Profit per match: -2.323410037994172

(3641, 42)

(3641,)

(3641, 2)

(250, 42)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.554183  0.445817       0
1        140     -177  0.457327  0.542673       1
2       -150      120  0.572788  0.427212       0
3        105     -134  0.385875  0.614125       0
4       -177      140  0.584745  0.415255       1
..       ...      ...       ...       ...     ...
245     -200      160  0.757590  0.242410       0
246     -335      250  0.829059  0.170941       0
247     -155      125  0.614304  0.385696       1
248     -286      225  0.764764  0.235236       0
249    -1667      850  0.892225  0.107775       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 212
          Number of winning bets: 111
          Number of losing bets: 101
          Number of underdog bets: 107
          Number of underdog wins: 45
          Number of underdog losses: 62
          Number of Favorite bets: 101
          Number of favorite wins: 64
          Number of favorite losses: 37
          Number of even bets: 4
          Number of even wins: 2
          Number of even losses: 2
          Profit: -364.5488554206099
          Profit per bet: -1.719570072738726
          Profit per match: -1.4581954216824398

(4126, 17)

(4126,)

(4126, 2)

(248, 17)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.955894  0.044106       0
1        140     -177  0.922696  0.077304       1
2       -150      120  0.980497  0.019503       0
3        105     -134  0.903876  0.096124       0
4       -177      140  0.953236  0.046764       1
..       ...      ...       ...       ...     ...
243     -200      160  0.979490  0.020510       0
244     -335      250  0.865450  0.134550       0
245     -155      125  0.952365  0.047635       1
246     -286      225  0.959248  0.040752       0
247    -1667      850  0.958977  0.041023       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 248
          Number of winning bets: 137
          Number of losing bets: 111
          Number of underdog bets: 100
          Number of underdog wins: 45
          Number of underdog losses: 55
          Number of Favorite bets: 144
          Number of favorite wins: 91
          Number of favorite losses: 53
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: -28.17016060750852
          Profit per bet: -0.11358935728834081
          Profit per match: -0.11358935728834081

(4483, 10)

(4483,)

(4483, 2)

(250, 10)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.526097  0.473903       0
1        140     -177  0.451930  0.548070       1
2       -150      120  0.575928  0.424072       0
3        105     -134  0.507521  0.492479       0
4       -177      140  0.605105  0.394895       1
..       ...      ...       ...       ...     ...
245     -200      160  0.625847  0.374153       0
246     -335      250  0.734210  0.265790       0
247     -155      125  0.577270  0.422730       1
248     -286      225  0.707944  0.292056       0
249    -1667      850  0.960712  0.039288       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 102
          Number of winning bets: 54
          Number of losing bets: 49
          Number of underdog bets: 89
          Number of underdog wins: 42
          Number of underdog losses: 47
          Number of Favorite bets: 14
          Number of favorite wins: 12
          Number of favorite losses: 2
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1650.1583341762712
          Profit per bet: 16.17802288408109
          Profit per match: 6.6006333367050845

(3651, 14)

(3651,)

(3651, 2)

(250, 14)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.714485  0.285515       0
1        140     -177  0.405378  0.594622       1
2       -150      120  0.730358  0.269642       0
3        105     -134  0.447249  0.552751       0
4       -177      140  0.615058  0.384942       1
..       ...      ...       ...       ...     ...
245     -200      160  0.854031  0.145969       0
246     -335      250  0.787112  0.212888       0
247     -155      125  0.787331  0.212669       1
248     -286      225  0.724869  0.275131       0
249    -1667      850  0.999951  0.000049       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 233
          Number of winning bets: 126
          Number of losing bets: 107
          Number of underdog bets: 102
          Number of underdog wins: 45
          Number of underdog losses: 57
          Number of Favorite bets: 127
          Number of favorite wins: 80
          Number of favorite losses: 47
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 468.0115554029955
          Profit per bet: 2.008633284991397
          Profit per match: 1.872046221611982

(3651, 18)

(3651,)

(3651, 2)

(250, 18)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.617577  0.382423       0
1        140     -177  0.276416  0.723584       1
2       -150      120  0.827368  0.172632       0
3        105     -134  0.481499  0.518501       0
4       -177      140  0.485781  0.514219       1
..       ...      ...       ...       ...     ...
245     -200      160  0.913541  0.086459       0
246     -335      250  0.770906  0.229094       0
247     -155      125  0.738343  0.261657       1
248     -286      225  0.772763  0.227237       0
249    -1667      850  0.999950  0.000050       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 228
          Number of winning bets: 131
          Number of losing bets: 98
          Number of underdog bets: 107
          Number of underdog wins: 50
          Number of underdog losses: 57
          Number of Favorite bets: 118
          Number of favorite wins: 80
          Number of favorite losses: 38
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 2570.446418422199
          Profit per bet: 11.273887800097363
          Profit per match: 10.281785673688795

(4483, 172)

(4483,)

(4483, 2)

(250, 172)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.508159  0.491841       0
1        140     -177  0.391985  0.608015       1
2       -150      120  0.473919  0.526081       0
3        105     -134  0.484070  0.515930       0
4       -177      140  0.617944  0.382056       1
..       ...      ...       ...       ...     ...
245     -200      160  0.711195  0.288805       0
246     -335      250  0.831159  0.168841       0
247     -155      125  0.564640  0.435360       1
248     -286      225  0.718092  0.281908       0
249    -1667      850  0.886705  0.113295       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 189
          Number of winning bets: 97
          Number of losing bets: 92
          Number of underdog bets: 97
          Number of underdog wins: 42
          Number of underdog losses: 55
          Number of Favorite bets: 88
          Number of favorite wins: 54
          Number of favorite losses: 34
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: -513.9756547885817
          Profit per bet: -2.7194479089342947
          Profit per match: -2.0559026191543266

(3540, 22)

(3540,)

(3540, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.732204  0.267796       0
1        140     -177  0.535665  0.464335       1
2       -150      120  0.756886  0.243114       0
3        105     -134  0.517167  0.482833       0
4       -177      140  0.576957  0.423043       1
..       ...      ...       ...       ...     ...
245     -200      160  0.827841  0.172159       0
246     -335      250  0.807071  0.192929       0
247     -155      125  0.716972  0.283028       1
248     -286      225  0.779257  0.220743       0
249    -1667      850  0.999952  0.000048       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 228
          Number of winning bets: 124
          Number of losing bets: 105
          Number of underdog bets: 101
          Number of underdog wins: 44
          Number of underdog losses: 57
          Number of Favorite bets: 124
          Number of favorite wins: 79
          Number of favorite losses: 45
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 140.33314097840008
          Profit per bet: 0.6154962323614038
          Profit per match: 0.5613325639136003

(3540, 24)

(3540,)

(3540, 2)

(250, 24)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.667121  0.332879       0
1        140     -177  0.632712  0.367288       1
2       -150      120  0.788596  0.211404       0
3        105     -134  0.643571  0.356429       0
4       -177      140  0.527362  0.472638       1
..       ...      ...       ...       ...     ...
245     -200      160  0.879506  0.120494       0
246     -335      250  0.794856  0.205144       0
247     -155      125  0.672856  0.327144       1
248     -286      225  0.841535  0.158465       0
249    -1667      850  0.999979  0.000021       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 218
          Number of winning bets: 117
          Number of losing bets: 102
          Number of underdog bets: 105
          Number of underdog wins: 45
          Number of underdog losses: 60
          Number of Favorite bets: 110
          Number of favorite wins: 71
          Number of favorite losses: 39
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 287.0186563961137
          Profit per bet: 1.3165993412665766
          Profit per match: 1.148074625584455

(3539, 22)

(3539,)

(3539, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.711730  0.288270       0
1        140     -177  0.659878  0.340122       1
2       -150      120  0.788656  0.211344       0
3        105     -134  0.724722  0.275278       0
4       -177      140  0.620342  0.379658       1
..       ...      ...       ...       ...     ...
245     -200      160  0.847246  0.152754       0
246     -335      250  0.794794  0.205206       0
247     -155      125  0.752286  0.247714       1
248     -286      225  0.999764  0.000236       0
249    -1667      850  0.999944  0.000056       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 228
          Number of winning bets: 126
          Number of losing bets: 104
          Number of underdog bets: 104
          Number of underdog wins: 45
          Number of underdog losses: 59
          Number of Favorite bets: 122
          Number of favorite wins: 80
          Number of favorite losses: 42
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 703.5510631112703
          Profit per bet: 3.085750276803817
          Profit per match: 2.8142042524450814

(3442, 56)

(3442,)

(3442, 2)

(248, 56)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.990345  0.009655       0
1        140     -177  0.066052  0.933948       1
2       -150      120  0.992985  0.007015       0
3        105     -134  0.949249  0.050751       0
4       -177      140  0.106424  0.893576       1
..       ...      ...       ...       ...     ...
243     -200      160  0.122881  0.877119       0
244     -335      250  0.999241  0.000759       0
245     -155      125  0.985951  0.014049       1
246     -286      225  0.996558  0.003442       0
247    -1667      850  0.759720  0.240280       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 209
          Number of winning bets: 101
          Number of losing bets: 108
          Number of underdog bets: 115
          Number of underdog wins: 49
          Number of underdog losses: 66
          Number of Favorite bets: 91
          Number of favorite wins: 51
          Number of favorite losses: 40
          Number of even bets: 3
          Number of even wins: 1
          Number of even losses: 2
          Profit: -126.63792775981362
          Profit per bet: -0.6059230993292518
          Profit per match: -0.5106368054831194

(3442, 19)

(3442,)

(3442, 2)

(250, 19)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.540680  0.459320       0
1        140     -177  0.474600  0.525400       1
2       -150      120  0.621343  0.378657       0
3        105     -134  0.519798  0.480202       0
4       -177      140  0.575350  0.424650       1
..       ...      ...       ...       ...     ...
245     -200      160  0.710511  0.289489       0
246     -335      250  0.793691  0.206309       0
247     -155      125  0.574844  0.425156       1
248     -286      225  0.772566  0.227434       0
249    -1667      850  0.835969  0.164031       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 199
          Number of winning bets: 100
          Number of losing bets: 101
          Number of underdog bets: 132
          Number of underdog wins: 54
          Number of underdog losses: 78
          Number of Favorite bets: 67
          Number of favorite wins: 45
          Number of favorite losses: 22
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: 622.5142487140188
          Profit per bet: 3.128212305095572
          Profit per match: 2.490056994856075

(3442, 26)

(3442,)

(3442, 2)

(248, 26)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.546551  0.453449       0
1        140     -177  0.460358  0.539642       1
2       -150      120  0.637225  0.362775       0
3        105     -134  0.455550  0.544450       0
4       -177      140  0.600822  0.399178       1
..       ...      ...       ...       ...     ...
243     -200      160  0.753626  0.246374       0
244     -335      250  0.769302  0.230698       0
245     -155      125  0.595036  0.404964       1
246     -286      225  0.712245  0.287755       0
247    -1667      850  0.932654  0.067346       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 152
          Number of winning bets: 69
          Number of losing bets: 83
          Number of underdog bets: 106
          Number of underdog wins: 39
          Number of underdog losses: 67
          Number of Favorite bets: 45
          Number of favorite wins: 29
          Number of favorite losses: 16
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: -296.0965472590791
          Profit per bet: -1.9480036003886783
          Profit per match: -1.1939376905608028

In [10]:
print(models[4])

['538.4166865', '-324.7349695106435', '-949.3347427574704', '1205.0828045280437', '79.82596213788835', '1165.977716', '528.6527731', '1500.93994', '493.1647765', '-431.4817089', '-35.23037836', '-19.43318131', '290.9104159', '-91.0629001', '-1129.80692']

In [11]:
print(score_list)

[1751.8798456314714, 32.397091539861236, -580.852509498543, -364.5488554206099, -28.17016060750852, 1650.1583341762712, 468.0115554029955, 2570.446418422199, -513.9756547885817, 140.33314097840008, 287.0186563961137, 703.5510631112703, -126.63792775981362, 622.5142487140188, -296.0965472590791]

In [12]:
models[4] = score_list

In [13]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=3, max_leaf_nodes=336, min_samples_leaf=0.01,\n                       random_state=75, splitter='random')",
  'RandomForestClassifier(max_depth=10, min_samples_leaf=0.0099, n_jobs=-1,\n                       random_state=75)',
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['sig_str_dif', 'R_Weight_lbs', 'B_Weight_lbs', 'R_Lightweight_rank', 'R_draw', 'R_Light Heavyweight_rank', 'R_win_by_Decision_Split', 'age_dif', 'B_ev']",
  '["B_Women\'s Featherweight_rank", \'B_avg_SIG_STR_landed\', \'R_odds\', \'gender\', \'R_ev\', \'total_round_dif\']',
  "['R_Reach_cms', 'B_avg_SIG_STR_pct', 'R_win_by_TKO_Doctor_Stoppage', 'B_ev', 'total_round_dif']",
  "['B_total_title_bouts', 'B_Weight_lbs', 'B_avg_TD_pct', 'R_current_lose_streak', 'B_avg_SIG_STR_pct', 'R_Stance', 'R_win_by_Decision_Unanimous', 'B_age', 'B_avg_SUB_ATT', 'reach_dif', 'country', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_current_win_streak', 'avg_sub_att_dif', 'B_wins', 'empty_arena', 'B_win_by_Submission', 'B_Pound-for-Pound_rank', 'B_win_by_Decision_Unanimous', 'sig_str_dif', 'B_draw', 'R_avg_TD_landed', 'B_Lightweight_rank', 'B_Stance', 'total_round_dif']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '1', '0', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 [1751.8798456314714,
  32.397091539861236,
  -580.852509498543,
  -364.5488554206099,
  -28.17016060750852,
  1650.1583341762712,
  468.0115554029955,
  2570.446418422199,
  -513.9756547885817,
  140.33314097840008,
  287.0186563961137,
  703.5510631112703,
  -126.63792775981362,
  622.5142487140188,
  -296.0965472590791]]

In [14]:
with open('models.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI