In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [3]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=27, max_leaf_nodes=336, min_samples_leaf=0.1,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=10,\n                       min_samples_leaf=0.101, n_estimators=22, n_jobs=-1,\n                       random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['R_draw', 'R_Light Heavyweight_rank', 'R_win_by_Decision_Split', 'age_dif', 'B_ev']",
  "['gender', 'R_ev', 'B_avg_SIG_STR_landed']",
  "['R_Reach_cms', 'R_avg_TD_landed', 'age_dif', 'B_avg_TD_pct', 'R_ev']",
  "['R_current_lose_streak', 'B_avg_SIG_STR_pct', 'R_Stance', 'R_win_by_Decision_Unanimous', 'B_age', 'B_avg_SUB_ATT', 'reach_dif', 'country', 'R_odds']",
  '[\'R_win_by_Decision_Unanimous\', \'B_Weight_lbs\', \'avg_td_dif\', \'sub_dif\', \'lose_streak_dif\', "R_Women\'s Strawweight_rank", \'R_Middleweight_rank\', \'B_Lightweight_rank\', \'R_ev\', \'B_Stance\']',
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '4', '0', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 ['173.1684847',
  '-208.59182319063598',
  '-827.0117854538566',
  '662.3292884444202',
  '-1162.4687784517437',
  '1205.652357',
  '385.0625139',
  '990.0325213',
  '-469.6786711',
  '-372.6349433',
  '-583.4522165',
  '-11.15784433',
  '233.6262205',
  '-690.9821024',
  '-16.7945354']]

In [4]:
df = pd.read_csv("../data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[200:]
odds_train = odds_df[200:]
label_train = label_df[200:]

df_test = df[:200]
odds_test = odds_df[:200]
label_test = label_df[:200]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

200
200
200
4533
4533
4533

<ipython-input-5-e95d4bafa98e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 0
<ipython-input-5-e95d4bafa98e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 1

In [6]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

200
4533

In [7]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\matth\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
len(models[0])

15

In [9]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(4533, 5)

(4533,)

(4533, 2)

(200, 5)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.531385  0.468615       0
1        140     -177  0.465793  0.534207       1
2       -150      120  0.541859  0.458141       0
3        105     -134  0.521104  0.478896       0
4       -177      140  0.568112  0.431888       1
..       ...      ...       ...       ...     ...
195     -155      125  0.598221  0.401779       0
196     -175      135  0.593591  0.406409       1
197     -530      375  0.832203  0.167797       0
198      170     -215  0.436955  0.563045       1
199     -162      138  0.522425  0.477575       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 155
          Number of winning bets: 70
          Number of losing bets: 85
          Number of underdog bets: 118
          Number of underdog wins: 47
          Number of underdog losses: 71
          Number of Favorite bets: 36
          Number of favorite wins: 22
          Number of favorite losses: 14
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: 179.2841997796204
          Profit per bet: 1.1566722566427121
          Profit per match: 0.896420998898102

(3603, 4)

(3603,)

(3603, 2)

(200, 4)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.523981  0.476019       0
1        140     -177  0.353093  0.646907       1
2       -150      120  0.523981  0.476019       0
3        105     -134  0.500000  0.500000       0
4       -177      140  0.652256  0.347744       1
..       ...      ...       ...       ...     ...
195     -155      125  0.523981  0.476019       0
196     -175      135  0.652256  0.347744       1
197     -530      375  0.817323  0.182677       0
198      170     -215  0.353093  0.646907       1
199     -162      138  0.523981  0.476019       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 77
          Number of winning bets: 35
          Number of losing bets: 42
          Number of underdog bets: 57
          Number of underdog wins: 22
          Number of underdog losses: 35
          Number of Favorite bets: 20
          Number of favorite wins: 13
          Number of favorite losses: 7
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: -338.59182319063575
          Profit per bet: -4.397296405073192
          Profit per match: -1.6929591159531787

(3580, 5)

(3580,)

(3580, 2)

(200, 5)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.543740  0.456260       0
1        140     -177  0.483727  0.516273       1
2       -150      120  0.570151  0.429849       0
3        105     -134  0.506055  0.493945       0
4       -177      140  0.666739  0.333261       1
..       ...      ...       ...       ...     ...
195     -155      125  0.541368  0.458632       0
196     -175      135  0.688016  0.311984       1
197     -530      375  0.632711  0.367289       0
198      170     -215  0.490220  0.509780       1
199     -162      138  0.482402  0.517598       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 168
          Number of winning bets: 66
          Number of losing bets: 103
          Number of underdog bets: 136
          Number of underdog wins: 48
          Number of underdog losses: 88
          Number of Favorite bets: 32
          Number of favorite wins: 17
          Number of favorite losses: 15
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: -1338.3073379483208
          Profit per bet: -7.966115106835242
          Profit per match: -6.6915366897416035

(3701, 39)

(3701,)

(3701, 2)

(200, 39)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.527496  0.472504       0
1        140     -177  0.480975  0.519025       1
2       -150      120  0.594422  0.405578       0
3        105     -134  0.412684  0.587316       0
4       -177      140  0.558221  0.441779       1
..       ...      ...       ...       ...     ...
195     -155      125  0.612567  0.387433       0
196     -175      135  0.616008  0.383992       1
197     -530      375  0.825985  0.174015       0
198      170     -215  0.459713  0.540287       1
199     -162      138  0.577948  0.422052       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 158
          Number of winning bets: 87
          Number of losing bets: 71
          Number of underdog bets: 82
          Number of underdog wins: 36
          Number of underdog losses: 46
          Number of Favorite bets: 74
          Number of favorite wins: 51
          Number of favorite losses: 23
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 755.499978736892
          Profit per bet: 4.78164543504362
          Profit per match: 3.77749989368446

(4533, 14)

(4533,)

(4533, 2)

(198, 14)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.957451  0.042549       0
1        140     -177  0.925350  0.074650       1
2       -150      120  0.965481  0.034519       0
3        105     -134  0.955968  0.044032       0
4       -177      140  0.955501  0.044499       1
..       ...      ...       ...       ...     ...
193     -155      125  0.955523  0.044477       0
194     -175      135  0.968055  0.031945       1
195     -530      375  0.967185  0.032815       0
196      170     -215  0.925525  0.074475       1
197     -162      138  0.970159  0.029841       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 197
          Number of winning bets: 105
          Number of losing bets: 92
          Number of underdog bets: 82
          Number of underdog wins: 35
          Number of underdog losses: 47
          Number of Favorite bets: 113
          Number of favorite wins: 70
          Number of favorite losses: 43
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -955.3756943794973
          Profit per bet: -4.849622814109123
          Profit per match: -4.8251297695934205

(4533, 10)

(4533,)

(4533, 2)

(200, 10)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.522131  0.477869       0
1        140     -177  0.448212  0.551788       1
2       -150      120  0.572864  0.427136       0
3        105     -134  0.504912  0.495088       0
4       -177      140  0.601694  0.398306       1
..       ...      ...       ...       ...     ...
195     -155      125  0.582541  0.417459       0
196     -175      135  0.598072  0.401928       1
197     -530      375  0.827524  0.172476       0
198      170     -215  0.402799  0.597201       1
199     -162      138  0.574306  0.425694       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 93
          Number of winning bets: 47
          Number of losing bets: 47
          Number of underdog bets: 84
          Number of underdog wins: 37
          Number of underdog losses: 47
          Number of Favorite bets: 10
          Number of favorite wins: 10
          Number of favorite losses: 0
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1165.977715754501
          Profit per bet: 12.537394793059152
          Profit per match: 5.829888578772506

(3701, 14)

(3701,)

(3701, 2)

(200, 14)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.704861  0.295139       0
1        140     -177  0.394837  0.605163       1
2       -150      120  0.722754  0.277246       0
3        105     -134  0.439561  0.560439       0
4       -177      140  0.609570  0.390430       1
..       ...      ...       ...       ...     ...
195     -155      125  0.793619  0.206381       0
196     -175      135  0.787652  0.212348       1
197     -530      375  0.880183  0.119817       0
198      170     -215  0.671353  0.328647       1
199     -162      138  0.554858  0.445142       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 185
          Number of winning bets: 101
          Number of losing bets: 84
          Number of underdog bets: 82
          Number of underdog wins: 36
          Number of underdog losses: 46
          Number of Favorite bets: 101
          Number of favorite wins: 65
          Number of favorite losses: 36
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 528.6527731135301
          Profit per bet: 2.8575825573704328
          Profit per match: 2.6432638655676506

(3701, 18)

(3701,)

(3701, 2)

(200, 18)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.603644  0.396356       0
1        140     -177  0.265368  0.734632       1
2       -150      120  0.821525  0.178475       0
3        105     -134  0.478909  0.521091       0
4       -177      140  0.477988  0.522012       1
..       ...      ...       ...       ...     ...
195     -155      125  0.698027  0.301973       0
196     -175      135  0.706956  0.293044       1
197     -530      375  0.827924  0.172076       0
198      170     -215  0.542011  0.457989       1
199     -162      138  0.994195  0.005805       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 181
          Number of winning bets: 101
          Number of losing bets: 81
          Number of underdog bets: 85
          Number of underdog wins: 37
          Number of underdog losses: 48
          Number of Favorite bets: 95
          Number of favorite wins: 64
          Number of favorite losses: 31
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 1500.9399404095232
          Profit per bet: 8.29248585861615
          Profit per match: 7.504699702047616

(4533, 172)

(4533,)

(4533, 2)

(200, 172)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.560572  0.439428       0
1        140     -177  0.389525  0.610475       1
2       -150      120  0.475755  0.524245       0
3        105     -134  0.481588  0.518412       0
4       -177      140  0.622091  0.377909       1
..       ...      ...       ...       ...     ...
195     -155      125  0.543092  0.456908       0
196     -175      135  0.557926  0.442074       1
197     -530      375  0.793835  0.206165       0
198      170     -215  0.431492  0.568508       1
199     -162      138  0.567207  0.432793       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 156
          Number of winning bets: 84
          Number of losing bets: 73
          Number of underdog bets: 82
          Number of underdog wins: 38
          Number of underdog losses: 44
          Number of Favorite bets: 73
          Number of favorite wins: 46
          Number of favorite losses: 27
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: 493.164776463737
          Profit per bet: 3.1613126696393397
          Profit per match: 2.465823882318685

(3590, 22)

(3590,)

(3590, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.721745  0.278255       0
1        140     -177  0.512037  0.487963       1
2       -150      120  0.752676  0.247324       0
3        105     -134  0.514641  0.485359       0
4       -177      140  0.573280  0.426720       1
..       ...      ...       ...       ...     ...
195     -155      125  0.502060  0.497940       0
196     -175      135  0.661581  0.338419       1
197     -530      375  0.730050  0.269950       0
198      170     -215  0.698923  0.301077       1
199     -162      138  0.998357  0.001643       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 182
          Number of winning bets: 96
          Number of losing bets: 87
          Number of underdog bets: 84
          Number of underdog wins: 35
          Number of underdog losses: 49
          Number of Favorite bets: 97
          Number of favorite wins: 61
          Number of favorite losses: 36
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -431.4817088774101
          Profit per bet: -2.37077862020555
          Profit per match: -2.1574085443870503

(3590, 24)

(3590,)

(3590, 2)

(200, 24)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.662488  0.337512       0
1        140     -177  0.606375  0.393625       1
2       -150      120  0.790540  0.209460       0
3        105     -134  0.635869  0.364131       0
4       -177      140  0.528770  0.471230       1
..       ...      ...       ...       ...     ...
195     -155      125  0.462564  0.537436       0
196     -175      135  0.653698  0.346302       1
197     -530      375  0.693540  0.306460       0
198      170     -215  0.915743  0.084257       1
199     -162      138  0.998079  0.001921       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 172
          Number of winning bets: 90
          Number of losing bets: 83
          Number of underdog bets: 87
          Number of underdog wins: 36
          Number of underdog losses: 51
          Number of Favorite bets: 84
          Number of favorite wins: 54
          Number of favorite losses: 30
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -35.230378360601506
          Profit per bet: -0.20482778116628783
          Profit per match: -0.17615189180300753

(3589, 22)

(3589,)

(3589, 2)

(200, 22)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.701626  0.298374       0
1        140     -177  0.641709  0.358291       1
2       -150      120  0.784295  0.215705       0
3        105     -134  0.722158  0.277842       0
4       -177      140  0.613492  0.386508       1
..       ...      ...       ...       ...     ...
195     -155      125  0.503692  0.496308       0
196     -175      135  0.660821  0.339179       1
197     -530      375  0.721018  0.278982       0
198      170     -215  0.866878  0.133122       1
199     -162      138  0.997680  0.002320       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 180
          Number of winning bets: 96
          Number of losing bets: 86
          Number of underdog bets: 88
          Number of underdog wins: 36
          Number of underdog losses: 52
          Number of Favorite bets: 92
          Number of favorite wins: 60
          Number of favorite losses: 32
          Number of even bets: 2
          Number of even wins: 0
          Number of even losses: 2
          Profit: -19.43318130992982
          Profit per bet: -0.107962118388499
          Profit per match: -0.09716590654964911

(3492, 56)

(3492,)

(3492, 2)

(198, 56)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.892249  0.107751       0
1        140     -177  0.294613  0.705387       1
2       -150      120  0.997937  0.002063       0
3        105     -134  0.852404  0.147596       0
4       -177      140  0.063367  0.936633       1
..       ...      ...       ...       ...     ...
193     -155      125  0.913463  0.086537       0
194     -175      135  0.931963  0.068037       1
195     -530      375  0.985759  0.014241       0
196      170     -215  0.997459  0.002541       1
197     -162      138  0.979413  0.020587       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 164
          Number of winning bets: 81
          Number of losing bets: 83
          Number of underdog bets: 94
          Number of underdog wins: 40
          Number of underdog losses: 54
          Number of Favorite bets: 70
          Number of favorite wins: 41
          Number of favorite losses: 29
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 290.91041589744685
          Profit per bet: 1.773843999374676
          Profit per match: 1.46924452473458

(3492, 19)

(3492,)

(3492, 2)

(200, 19)

(200,)

(200, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.571479  0.428521       0
1        140     -177  0.485219  0.514781       1
2       -150      120  0.622923  0.377077       0
3        105     -134  0.513551  0.486449       0
4       -177      140  0.582211  0.417789       1
..       ...      ...       ...       ...     ...
195     -155      125  0.559900  0.440100       0
196     -175      135  0.632212  0.367788       1
197     -530      375  0.699298  0.300702       0
198      170     -215  0.477237  0.522763       1
199     -162      138  0.537151  0.462849       0

[200 rows x 5 columns]

          Number of matches: 200
          Number of bets: 163
          Number of winning bets: 78
          Number of losing bets: 86
          Number of underdog bets: 113
          Number of underdog wins: 46
          Number of underdog losses: 67
          Number of Favorite bets: 49
          Number of favorite wins: 31
          Number of favorite losses: 18
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: -91.06290010127861
          Profit per bet: -0.5586680987808504
          Profit per match: -0.45531450050639305

(3492, 26)

(3492,)

(3492, 2)

(198, 26)

(198,)

(198, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0       -118     -106  0.598315  0.401685       0
1        140     -177  0.351949  0.648051       1
2       -150      120  0.592936  0.407064       0
3        105     -134  0.507419  0.492581       0
4       -177      140  0.580359  0.419641       1
..       ...      ...       ...       ...     ...
193     -155      125  0.568679  0.431321       0
194     -175      135  0.640672  0.359328       1
195     -530      375  0.681813  0.318187       0
196      170     -215  0.400522  0.599478       1
197     -162      138  0.523603  0.476397       0

[198 rows x 5 columns]

          Number of matches: 198
          Number of bets: 132
          Number of winning bets: 56
          Number of losing bets: 77
          Number of underdog bets: 91
          Number of underdog wins: 34
          Number of underdog losses: 57
          Number of Favorite bets: 41
          Number of favorite wins: 21
          Number of favorite losses: 20
          Number of even bets: 1
          Number of even wins: 1
          Number of even losses: 0
          Profit: -1129.8069204547003
          Profit per bet: -8.559143336778032
          Profit per match: -5.706095557852022

In [10]:
print(models[4])

['173.1684847', '-208.59182319063598', '-827.0117854538566', '662.3292884444202', '-1162.4687784517437', '1205.652357', '385.0625139', '990.0325213', '-469.6786711', '-372.6349433', '-583.4522165', '-11.15784433', '233.6262205', '-690.9821024', '-16.7945354']

In [11]:
print(score_list)

[179.2841997796204, -338.59182319063575, -1338.3073379483208, 755.499978736892, -955.3756943794973, 1165.977715754501, 528.6527731135301, 1500.9399404095232, 493.164776463737, -431.4817088774101, -35.230378360601506, -19.43318130992982, 290.91041589744685, -91.06290010127861, -1129.8069204547003]

In [12]:
models[4] = score_list

In [13]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(max_depth=27, max_leaf_nodes=336, min_samples_leaf=0.1,\n                       random_state=75, splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=10,\n                       min_samples_leaf=0.101, n_estimators=22, n_jobs=-1,\n                       random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB(var_smoothing=1e-08)',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['R_draw', 'R_Light Heavyweight_rank', 'R_win_by_Decision_Split', 'age_dif', 'B_ev']",
  "['gender', 'R_ev', 'B_avg_SIG_STR_landed']",
  "['R_Reach_cms', 'R_avg_TD_landed', 'age_dif', 'B_avg_TD_pct', 'R_ev']",
  "['R_current_lose_streak', 'B_avg_SIG_STR_pct', 'R_Stance', 'R_win_by_Decision_Unanimous', 'B_age', 'B_avg_SUB_ATT', 'reach_dif', 'country', 'R_odds']",
  '[\'R_win_by_Decision_Unanimous\', \'B_Weight_lbs\', \'avg_td_dif\', \'sub_dif\', \'lose_streak_dif\', "R_Women\'s Strawweight_rank", \'R_Middleweight_rank\', \'B_Lightweight_rank\', \'R_ev\', \'B_Stance\']',
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '4', '0', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 [179.2841997796204,
  -338.59182319063575,
  -1338.3073379483208,
  755.499978736892,
  -955.3756943794973,
  1165.977715754501,
  528.6527731135301,
  1500.9399404095232,
  493.164776463737,
  -431.4817088774101,
  -35.230378360601506,
  -19.43318130992982,
  290.91041589744685,
  -91.06290010127861,
  -1129.8069204547003]]

In [14]:
with open('models.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI