In [1]:
import pandas as pd
import numpy as np
from functions import *
import random
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

remove_fight_island = False

In [2]:
#Load models
#REMINDER: We are going to need to use 'eval' to get the models usable
with open('../data/models.csv', newline='') as f:
    reader = csv.reader(f)
    models = list(reader)
    
print(len(models))

5

In [3]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(criterion='entropy', max_depth=10, max_leaf_nodes=336,\n                       min_samples_leaf=0.01, random_state=75,\n                       splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=83, max_leaf_nodes=20,\n                       min_samples_leaf=0.009999000000000001, n_estimators=39,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB()',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['B_Middleweight_rank', 'B_Bantamweight_rank', 'B_Lightweight_rank', 'gender', 'B_Reach_cms', 'B_draw', 'R_Welterweight_rank', 'B_win_by_TKO_Doctor_Stoppage', 'loss_dif', 'age_dif', 'B_ev', 'empty_arena']",
  "['R_odds', 'location', 'empty_arena']",
  "['country', 'B_ev', 'R_Height_cms', 'B_odds', 'B_age', 'R_Reach_cms', 'B_avg_TD_pct', 'R_odds', 'B_avg_TD_landed']",
  "['R_total_rounds_fought', 'B_total_rounds_fought', 'B_win_by_Decision_Unanimous', 'R_Stance', 'B_Height_cms', 'B_avg_SIG_STR_landed', 'age_dif', 'B_Stance', 'B_odds', 'location', 'empty_arena']",
  "['B_win_by_Decision_Unanimous', 'R_total_rounds_fought', 'R_avg_TD_pct', 'R_age', 'B_Lightweight_rank', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '7', '2', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 ['344.02261319277756',
  '345.1147018055343',
  '355.7009475540822',
  '-774.4056181289438',
  '1103.751826527694',
  '1770.9777157545009',
  '221.45128905823213',
  '1867.371333562617',
  '-200.6168769001822',
  '27.4555920635907',
  '245.96508405656152',
  '221.11659910561997',
  '690.5773086261729',
  '339.66093040809983',
  '-54.76505767745016']]

In [4]:
df = pd.read_csv("../data/kaggle_data/ufc-master.csv")

In [5]:
#Let's put all the labels in a dataframe
df['label'] = ''
#If the winner is not Red or Blue we can remove it.
mask = df['Winner'] == 'Red'
df['label'][mask] = 0
mask = df['Winner'] == 'Blue'
df['label'][mask] = 1

#df["Winner"] = df["Winner"].astype('category')
df = df[(df['Winner'] == 'Blue') | (df['Winner'] == 'Red')]


#Make sure lable is numeric
df['label'] = pd.to_numeric(df['label'], errors='coerce')

#Let's fix the date
df['date'] = pd.to_datetime(df['date'])

#Create a label df:
label_df = df['label']

#Let's create an odds df too:
odds_df = df[['R_odds', 'B_odds']]

#Split the test set.  We are always(?) going to use the last 200 matches as the test set, so we don't want those around
#as we pick models

df_train = df[250:]
odds_train = odds_df[250:]
label_train = label_df[250:]

df_test = df[:250]
odds_test = odds_df[:250]
label_test = label_df[:250]

print(len(df_test))
print(len(odds_test))
print(len(label_test))

print(len(df_train))
print(len(odds_train))
print(len(label_train))

250
250
250
4509
4509
4509

<ipython-input-5-d6c2a1ffdd58>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 0
<ipython-input-5-d6c2a1ffdd58>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'][mask] = 1

In [6]:
if remove_fight_island:
    ##Let's remove the Fight island contests and see how that affects score
    df_test_no_fight_island = df_test[(df_test['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_train_no_fight_island = df_train[(df_train['location'] != 'Abu Dhabi, Abu Dhabi, United Arab Emirates')]
    df_test = df_test_no_fight_island
    df_train = df_train_no_fight_island



print(len(df_test))
print(len(df_train))

250
4509

In [7]:
#Set a value for the nulls in the ranks

weightclass_list = ['B_match_weightclass_rank', 'R_match_weightclass_rank', "R_Women's Flyweight_rank", "R_Women's Featherweight_rank", "R_Women's Strawweight_rank", "R_Women's Bantamweight_rank", 'R_Heavyweight_rank', 'R_Light Heavyweight_rank', 'R_Middleweight_rank', 'R_Welterweight_rank', 'R_Lightweight_rank', 'R_Featherweight_rank', 'R_Bantamweight_rank', 'R_Flyweight_rank', 'R_Pound-for-Pound_rank', "B_Women's Flyweight_rank", "B_Women's Featherweight_rank", "B_Women's Strawweight_rank", "B_Women's Bantamweight_rank", 'B_Heavyweight_rank', 'B_Light Heavyweight_rank', 'B_Middleweight_rank', 'B_Welterweight_rank', 'B_Lightweight_rank', 'B_Featherweight_rank', 'B_Bantamweight_rank', 'B_Flyweight_rank', 'B_Pound-for-Pound_rank']
df_train[weightclass_list] = df_train[weightclass_list].fillna(17)
df_test[weightclass_list] = df_test[weightclass_list].fillna(17)

C:\Users\matth\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [8]:
len(models[0])

15

In [9]:
score_list = []
for model_num in range(len(models[0])):
    test_model_name = models[0][model_num]
    test_model = eval(models[1][model_num])
    test_model_features = eval(models[2][model_num])
    test_model_ev = eval(models[3][model_num])
    
    score_list.append(evaluate_model(test_model, test_model_features, test_model_ev, df_train, label_train, odds_train, df_test, label_test,
                         odds_test, verbose = True))

(4509, 13)

(4509,)

(4509, 2)

(250, 13)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.520215  0.479785       0
1        200     -265  0.548117  0.451883       1
2       -230      180  0.628309  0.371691       0
3        120     -150  0.508160  0.491840       1
4        100     -125  0.463429  0.536571       1
..       ...      ...       ...       ...     ...
245     -157      137  0.504532  0.495468       0
246     -345      285  0.801851  0.198149       0
247     -185      160  0.599195  0.400805       1
248     -160      140  0.592809  0.407191       0
249     -135      115  0.477083  0.522917       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 180
          Number of winning bets: 89
          Number of losing bets: 91
          Number of underdog bets: 126
          Number of underdog wins: 53
          Number of underdog losses: 73
          Number of Favorite bets: 52
          Number of favorite wins: 35
          Number of favorite losses: 17
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: 832.9544224162701
          Profit per bet: 4.627524568979278
          Profit per match: 3.33181768966508

(4509, 147)

(4509,)

(4509, 2)

(250, 147)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.395062  0.604938       0
1        200     -265  0.348259  0.651741       1
2       -230      180  0.653465  0.346535       0
3        120     -150  0.480519  0.519481       1
4        100     -125  0.480519  0.519481       1
..       ...      ...       ...       ...     ...
245     -157      137  0.612903  0.387097       0
246     -345      285  0.792453  0.207547       0
247     -185      160  0.612903  0.387097       1
248     -160      140  0.612903  0.387097       0
249     -135      115  0.612903  0.387097       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 93
          Number of winning bets: 42
          Number of losing bets: 52
          Number of underdog bets: 64
          Number of underdog wins: 27
          Number of underdog losses: 37
          Number of Favorite bets: 26
          Number of favorite wins: 14
          Number of favorite losses: 12
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 345.1147018055343
          Profit per bet: 3.7109107721025194
          Profit per match: 1.3804588072221373

(3667, 36)

(3667,)

(3667, 2)

(250, 36)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.501455  0.498545       0
1        200     -265  0.436249  0.563751       1
2       -230      180  0.702077  0.297923       0
3        120     -150  0.511292  0.488708       1
4        100     -125  0.551003  0.448997       1
..       ...      ...       ...       ...     ...
245     -157      137  0.513625  0.486375       0
246     -345      285  0.721410  0.278590       0
247     -185      160  0.645953  0.354047       1
248     -160      140  0.566356  0.433644       0
249     -135      115  0.543450  0.456550       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 154
          Number of winning bets: 69
          Number of losing bets: 87
          Number of underdog bets: 139
          Number of underdog wins: 57
          Number of underdog losses: 82
          Number of Favorite bets: 15
          Number of favorite wins: 11
          Number of favorite losses: 4
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: 355.7009475540822
          Profit per bet: 2.3097464126888454
          Profit per match: 1.4228037902163286

(3579, 159)

(3579,)

(3579, 2)

(248, 159)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.589260  0.410740       0
1        200     -265  0.446897  0.553103       1
2       -230      180  0.630760  0.369240       0
3        120     -150  0.526693  0.473307       1
4        100     -125  0.457839  0.542161       1
..       ...      ...       ...       ...     ...
243     -157      137  0.571551  0.428449       0
244     -345      285  0.811183  0.188817       0
245     -185      160  0.558723  0.441277       1
246     -160      140  0.504179  0.495821       0
247     -135      115  0.485290  0.514710       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 201
          Number of winning bets: 91
          Number of losing bets: 110
          Number of underdog bets: 139
          Number of underdog wins: 57
          Number of underdog losses: 82
          Number of Favorite bets: 58
          Number of favorite wins: 32
          Number of favorite losses: 26
          Number of even bets: 4
          Number of even wins: 2
          Number of even losses: 2
          Profit: -774.4056181289438
          Profit per bet: -3.8527642692982282
          Profit per match: -3.122603298907032

(3556, 23)

(3556,)

(3556, 2)

(250, 23)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.536917  0.463083       0
1        200     -265  0.496578  0.503422       1
2       -230      180  0.616162  0.383838       0
3        120     -150  0.461448  0.538552       1
4        100     -125  0.476317  0.523683       1
..       ...      ...       ...       ...     ...
245     -157      137  0.183713  0.816287       0
246     -345      285  0.870748  0.129252       0
247     -185      160  0.894997  0.105003       1
248     -160      140  0.661728  0.338272       0
249     -135      115  0.895297  0.104703       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 231
          Number of winning bets: 129
          Number of losing bets: 102
          Number of underdog bets: 102
          Number of underdog wins: 46
          Number of underdog losses: 56
          Number of Favorite bets: 125
          Number of favorite wins: 82
          Number of favorite losses: 43
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 1103.751826527694
          Profit per bet: 4.778146435184823
          Profit per match: 4.415007306110776

(4509, 10)

(4509,)

(4509, 2)

(250, 10)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.461989  0.538011       0
1        200     -265  0.403910  0.596090       1
2       -230      180  0.651254  0.348746       0
3        120     -150  0.482516  0.517484       1
4        100     -125  0.515351  0.484649       1
..       ...      ...       ...       ...     ...
245     -157      137  0.496136  0.503864       0
246     -345      285  0.769846  0.230154       0
247     -185      160  0.634970  0.365030       1
248     -160      140  0.593057  0.406943       0
249     -135      115  0.571171  0.428829       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 113
          Number of winning bets: 60
          Number of losing bets: 54
          Number of underdog bets: 97
          Number of underdog wins: 46
          Number of underdog losses: 51
          Number of Favorite bets: 17
          Number of favorite wins: 14
          Number of favorite losses: 3
          Number of even bets: 0
          Number of even wins: 0
          Number of even losses: 0
          Profit: 1961.130849366221
          Profit per bet: 17.355140259878063
          Profit per match: 7.844523397464884

(3677, 14)

(3677,)

(3677, 2)

(250, 14)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.610527  0.389473       0
1        200     -265  0.591157  0.408843       1
2       -230      180  0.544565  0.455435       0
3        120     -150  0.511014  0.488986       1
4        100     -125  0.482649  0.517351       1
..       ...      ...       ...       ...     ...
245     -157      137  0.000063  0.999937       0
246     -345      285  0.875982  0.124018       0
247     -185      160  0.687819  0.312181       1
248     -160      140  0.721700  0.278300       0
249     -135      115  0.469022  0.530978       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 231
          Number of winning bets: 122
          Number of losing bets: 109
          Number of underdog bets: 108
          Number of underdog wins: 47
          Number of underdog losses: 61
          Number of Favorite bets: 119
          Number of favorite wins: 74
          Number of favorite losses: 45
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 221.45128905823213
          Profit per bet: 0.9586635889966759
          Profit per match: 0.8858051562329285

(3677, 18)

(3677,)

(3677, 2)

(250, 18)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.554742  0.445258       0
1        200     -265  0.682165  0.317835       1
2       -230      180  0.545763  0.454237       0
3        120     -150  0.408310  0.591690       1
4        100     -125  0.377395  0.622605       1
..       ...      ...       ...       ...     ...
245     -157      137  0.098968  0.901032       0
246     -345      285  0.834848  0.165152       0
247     -185      160  0.862966  0.137034       1
248     -160      140  0.595707  0.404293       0
249     -135      115  0.842064  0.157936       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 224
          Number of winning bets: 123
          Number of losing bets: 102
          Number of underdog bets: 114
          Number of underdog wins: 51
          Number of underdog losses: 63
          Number of Favorite bets: 107
          Number of favorite wins: 71
          Number of favorite losses: 36
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 1867.371333562617
          Profit per bet: 8.336479167690255
          Profit per match: 7.469485334250469

(4509, 172)

(4509,)

(4509, 2)

(250, 172)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.451808  0.548192       0
1        200     -265  0.293267  0.706733       1
2       -230      180  0.767709  0.232291       0
3        120     -150  0.411585  0.588415       1
4        100     -125  0.558007  0.441993       1
..       ...      ...       ...       ...     ...
245     -157      137  0.366690  0.633310       0
246     -345      285  0.799276  0.200724       0
247     -185      160  0.670280  0.329720       1
248     -160      140  0.627807  0.372193       0
249     -135      115  0.767896  0.232104       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 189
          Number of winning bets: 99
          Number of losing bets: 91
          Number of underdog bets: 97
          Number of underdog wins: 42
          Number of underdog losses: 55
          Number of Favorite bets: 90
          Number of favorite wins: 56
          Number of favorite losses: 34
          Number of even bets: 3
          Number of even wins: 1
          Number of even losses: 2
          Profit: -300.61687690018186
          Profit per bet: -1.5905654862443486
          Profit per match: -1.2024675076007274

(3566, 22)

(3566,)

(3566, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.619775  0.380225       0
1        200     -265  0.776230  0.223770       1
2       -230      180  0.712869  0.287131       0
3        120     -150  0.444235  0.555765       1
4        100     -125  0.486762  0.513238       1
..       ...      ...       ...       ...     ...
245     -157      137  0.163041  0.836959       0
246     -345      285  0.800948  0.199052       0
247     -185      160  0.930517  0.069483       1
248     -160      140  0.734161  0.265839       0
249     -135      115  0.748803  0.251197       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 222
          Number of winning bets: 119
          Number of losing bets: 104
          Number of underdog bets: 104
          Number of underdog wins: 45
          Number of underdog losses: 59
          Number of Favorite bets: 115
          Number of favorite wins: 73
          Number of favorite losses: 42
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: -12.544407936409357
          Profit per bet: -0.056506342055898
          Profit per match: -0.05017763174563743

(3566, 24)

(3566,)

(3566, 2)

(250, 24)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.563378  0.436622       0
1        200     -265  0.725841  0.274159       1
2       -230      180  0.736175  0.263825       0
3        120     -150  0.437794  0.562206       1
4        100     -125  0.507771  0.492229       1
..       ...      ...       ...       ...     ...
245     -157      137  0.194713  0.805287       0
246     -345      285  0.877968  0.122032       0
247     -185      160  0.995004  0.004996       1
248     -160      140  0.755678  0.244322       0
249     -135      115  0.847106  0.152894       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 215
          Number of winning bets: 114
          Number of losing bets: 101
          Number of underdog bets: 108
          Number of underdog wins: 46
          Number of underdog losses: 62
          Number of Favorite bets: 103
          Number of favorite wins: 67
          Number of favorite losses: 36
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 245.96508405656152
          Profit per bet: 1.1440236467747047
          Profit per match: 0.9838603362262461

(3565, 22)

(3565,)

(3565, 2)

(250, 22)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.638406  0.361594       0
1        200     -265  0.759755  0.240245       1
2       -230      180  0.795520  0.204480       0
3        120     -150  0.511599  0.488401       1
4        100     -125  0.513948  0.486052       1
..       ...      ...       ...       ...     ...
245     -157      137  0.141734  0.858266       0
246     -345      285  0.842305  0.157695       0
247     -185      160  0.941555  0.058445       1
248     -160      140  0.636625  0.363375       0
249     -135      115  0.672185  0.327815       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 224
          Number of winning bets: 120
          Number of losing bets: 106
          Number of underdog bets: 110
          Number of underdog wins: 46
          Number of underdog losses: 64
          Number of Favorite bets: 112
          Number of favorite wins: 73
          Number of favorite losses: 39
          Number of even bets: 4
          Number of even wins: 1
          Number of even losses: 3
          Profit: 221.11659910561997
          Profit per bet: 0.9871276745786606
          Profit per match: 0.8844663964224799

(3468, 56)

(3468,)

(3468, 2)

(248, 56)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.987644  0.012356       0
1        200     -265  0.007679  0.992321       1
2       -230      180  0.309751  0.690249       0
3        120     -150  0.969999  0.030001       1
4        100     -125  0.205764  0.794236       1
..       ...      ...       ...       ...     ...
243     -157      137  0.007899  0.992101       0
244     -345      285  0.829883  0.170117       0
245     -185      160  0.859803  0.140197       1
246     -160      140  0.977265  0.022735       0
247     -135      115  0.950712  0.049288       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 205
          Number of winning bets: 103
          Number of losing bets: 102
          Number of underdog bets: 111
          Number of underdog wins: 49
          Number of underdog losses: 62
          Number of Favorite bets: 90
          Number of favorite wins: 52
          Number of favorite losses: 38
          Number of even bets: 4
          Number of even wins: 2
          Number of even losses: 2
          Profit: 640.5773086261727
          Profit per bet: 3.1247673591520617
          Profit per match: 2.582973018653922

(3468, 19)

(3468,)

(3468, 2)

(250, 19)

(250,)

(250, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.525893  0.474107       0
1        200     -265  0.611029  0.388971       1
2       -230      180  0.725398  0.274602       0
3        120     -150  0.530916  0.469084       1
4        100     -125  0.501896  0.498104       1
..       ...      ...       ...       ...     ...
245     -157      137  0.646681  0.353319       0
246     -345      285  0.789227  0.210773       0
247     -185      160  0.546723  0.453277       1
248     -160      140  0.496989  0.503011       0
249     -135      115  0.634771  0.365229       0

[250 rows x 5 columns]

          Number of matches: 250
          Number of bets: 193
          Number of winning bets: 93
          Number of losing bets: 102
          Number of underdog bets: 132
          Number of underdog wins: 56
          Number of underdog losses: 76
          Number of Favorite bets: 61
          Number of favorite wins: 36
          Number of favorite losses: 25
          Number of even bets: 2
          Number of even wins: 1
          Number of even losses: 1
          Profit: 217.28330803047766
          Profit per bet: 1.1258202488625786
          Profit per match: 0.8691332321219106

(3468, 26)

(3468,)

(3468, 2)

(248, 26)

(248,)

(248, 2)

     t1_odds  t2_odds   t1_prob   t2_prob  winner
0        130     -162  0.496339  0.503661       0
1        200     -265  0.516392  0.483608       1
2       -230      180  0.638861  0.361139       0
3        120     -150  0.520340  0.479660       1
4        100     -125  0.434664  0.565336       1
..       ...      ...       ...       ...     ...
243     -157      137  0.569874  0.430126       0
244     -345      285  0.838180  0.161820       0
245     -185      160  0.624468  0.375532       1
246     -160      140  0.658574  0.341426       0
247     -135      115  0.699771  0.300229       0

[248 rows x 5 columns]

          Number of matches: 248
          Number of bets: 169
          Number of winning bets: 83
          Number of losing bets: 88
          Number of underdog bets: 118
          Number of underdog wins: 48
          Number of underdog losses: 70
          Number of Favorite bets: 50
          Number of favorite wins: 33
          Number of favorite losses: 17
          Number of even bets: 3
          Number of even wins: 2
          Number of even losses: 1
          Profit: 307.7349423225498
          Profit per bet: 1.820916818476626
          Profit per match: 1.2408667029135072

In [10]:
print(models[4])

['344.02261319277756', '345.1147018055343', '355.7009475540822', '-774.4056181289438', '1103.751826527694', '1770.9777157545009', '221.45128905823213', '1867.371333562617', '-200.6168769001822', '27.4555920635907', '245.96508405656152', '221.11659910561997', '690.5773086261729', '339.66093040809983', '-54.76505767745016']

In [11]:
print(score_list)

[832.9544224162701, 345.1147018055343, 355.7009475540822, -774.4056181289438, 1103.751826527694, 1961.130849366221, 221.45128905823213, 1867.371333562617, -300.61687690018186, -12.544407936409357, 245.96508405656152, 221.11659910561997, 640.5773086261727, 217.28330803047766, 307.7349423225498]

In [12]:
models[4] = score_list

In [13]:
models

[['model_0',
  'model_1',
  'model_2',
  'model_3',
  'model_4',
  'model_06_13_20',
  'model_06_20_20',
  'model_6_27_20',
  'model_7_18_20',
  'model_7_25_20',
  'model_9_2_20',
  'model_9_10_20',
  'model_10_23_20',
  'model_10_27_20',
  'model_10_28_20'],
 ['LogisticRegression(max_iter=50000, random_state=75)',
  "DecisionTreeClassifier(criterion='entropy', max_depth=10, max_leaf_nodes=336,\n                       min_samples_leaf=0.01, random_state=75,\n                       splitter='random')",
  "RandomForestClassifier(criterion='entropy', max_depth=83, max_leaf_nodes=20,\n                       min_samples_leaf=0.009999000000000001, n_estimators=39,\n                       n_jobs=-1, random_state=75)",
  "GradientBoostingClassifier(max_depth=17, max_features='sqrt',\n                           max_leaf_nodes=316, min_samples_leaf=0.1,\n                           n_estimators=195, random_state=75)",
  'GaussianNB()',
  'LogisticRegression(max_iter=50000, random_state=75, tol=5.993308915320019)',
  'GaussianNB()',
  'GaussianNB()',
  'GradientBoostingClassifier(n_estimators=122, random_state=75)',
  'GaussianNB()',
  'GaussianNB(var_smoothing=1e-12)',
  'GaussianNB(var_smoothing=1e-12)',
  'GradientBoostingClassifier(max_depth=95, min_samples_leaf=6, n_estimators=195,\n                           random_state=75)',
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=197,\n                       n_jobs=-1, random_state=75)",
  "RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=22,\n                       n_jobs=-1, random_state=75)"],
 ["['B_Middleweight_rank', 'B_Bantamweight_rank', 'B_Lightweight_rank', 'gender', 'B_Reach_cms', 'B_draw', 'R_Welterweight_rank', 'B_win_by_TKO_Doctor_Stoppage', 'loss_dif', 'age_dif', 'B_ev', 'empty_arena']",
  "['R_odds', 'location', 'empty_arena']",
  "['country', 'B_ev', 'R_Height_cms', 'B_odds', 'B_age', 'R_Reach_cms', 'B_avg_TD_pct', 'R_odds', 'B_avg_TD_landed']",
  "['R_total_rounds_fought', 'B_total_rounds_fought', 'B_win_by_Decision_Unanimous', 'R_Stance', 'B_Height_cms', 'B_avg_SIG_STR_landed', 'age_dif', 'B_Stance', 'B_odds', 'location', 'empty_arena']",
  "['B_win_by_Decision_Unanimous', 'R_total_rounds_fought', 'R_avg_TD_pct', 'R_age', 'B_Lightweight_rank', 'R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_win_by_Decision_Majority', 'B_win_by_TKO_Doctor_Stoppage', 'R_win_by_Decision_Majority', 'R_odds', 'R_current_lose_streak', 'R_Reach_cms', 'B_draw', 'total_round_dif', 'R_ev', 'B_ev']",
  "['R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['R_longest_win_streak', 'longest_win_streak_dif', 'reach_dif', 'avg_sub_att_dif', 'R_win_by_Decision_Unanimous', 'B_win_by_Submission', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'height_dif', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['B_current_win_streak', 'R_win_by_Submission', 'B_win_by_Decision_Unanimous', 'R_win_by_Decision_Unanimous', 'R_current_lose_streak', 'B_win_by_TKO_Doctor_Stoppage', 'win_dif', 'B_win_by_Decision_Split', 'B_wins', 'R_Stance', 'B_age', 'B_Weight_lbs', 'R_ev', 'B_total_rounds_fought', 'location', 'R_odds', 'R_Reach_cms', 'R_Weight_lbs', 'R_current_win_streak', 'R_age', 'empty_arena', 'R_win_by_Decision_Split', 'R_draw', 'lose_streak_dif', 'B_draw']",
  "['R_Reach_cms', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'ko_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'B_current_win_streak', 'R_odds']",
  "['win_streak_dif', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'total_round_dif', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'R_Weight_lbs', 'sig_str_dif', 'B_Height_cms', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'avg_td_dif', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['B_Weight_lbs', 'B_Flyweight_rank', 'B_avg_TD_landed', 'B_Light Heavyweight_rank', 'B_Lightweight_rank', 'R_avg_TD_landed', 'R_Middleweight_rank', 'R_Height_cms', 'R_avg_SIG_STR_pct', 'B_age', 'R_longest_win_streak', 'lose_streak_dif', 'R_win_by_Decision_Majority', 'longest_win_streak_dif', 'avg_sub_att_dif', 'sig_str_dif', 'B_avg_SUB_ATT', 'R_win_by_TKO_Doctor_Stoppage', 'B_draw', 'R_win_by_Decision_Split', 'age_dif', 'R_odds']",
  "['weight_class', 'B_Reach_cms', 'B_Welterweight_rank', 'B_total_title_bouts', 'R_avg_TD_pct', 'B_Bantamweight_rank', 'R_Featherweight_rank', 'no_of_rounds', 'B_draw', 'B_Stance', 'R_win_by_TKO_Doctor_Stoppage', 'R_current_win_streak', 'B_avg_SIG_STR_landed', 'country']",
  '[\'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']',
  '[\'B_Stance\', \'R_current_lose_streak\', \'loss_dif\', \'B_win_by_Decision_Split\', \'R_Height_cms\', \'R_Bantamweight_rank\', \'B_current_lose_streak\', \'avg_sub_att_dif\', \'B_Middleweight_rank\', \'R_current_win_streak\', \'total_round_dif\', \'B_avg_SUB_ATT\', \'B_avg_SIG_STR_landed\', \'age_dif\', \'B_Light Heavyweight_rank\', \'R_avg_TD_pct\', \'R_ev\', "B_Women\'s Flyweight_rank", "B_Women\'s Strawweight_rank", \'B_Bantamweight_rank\', \'R_Reach_cms\', \'B_win_by_Decision_Unanimous\', \'constant_1\']'],
 ['0', '7', '2', '0', '0', '0', '0', '0', '0', '1', '3', '2', '27', '1', '5'],
 [832.9544224162701,
  345.1147018055343,
  355.7009475540822,
  -774.4056181289438,
  1103.751826527694,
  1961.130849366221,
  221.45128905823213,
  1867.371333562617,
  -300.61687690018186,
  -12.544407936409357,
  245.96508405656152,
  221.11659910561997,
  640.5773086261727,
  217.28330803047766,
  307.7349423225498]]

In [14]:
with open('../data/models.csv', 'w' , newline='') as outfile:
    writer = csv.writer(outfile)
    for row in models:
        print("HI")
        writer.writerow(row)
    
outfile.close()

HI
HI
HI
HI
HI